// !sitewide ------------------------------------------------------------------------------
body{
font-family: Helvetica, sans-serif;
color: @black;
background-color: #fff;
overflow: hidden;
}
a,
a:visited {
color: @irem_blue;
}
a:hover,
a:active{
color: @navy;
text-decoration: none;
}
legend{
	display: none;
}

// !checkout form ------------------------------------------------------------------------------
label{
float:left;
width: 250px;
padding-top: 10px;
margin-right: 15px;
text-align: right;
	&.fc_radio{
	width: 300px;
	text-align: left;
	margin: 0;
	}
	&.fc_error{
	font-size: 12px;
	color: red;
	padding: 0;
	margin: -5px 0 0 0;
	}
}
input{
width: 50px;
}

// !foxycart------------------------------------------------------------------------------
.foxycart{
font-family: Helvetica, sans-serif;
font-weight: lighter;
color: @black;
	ol{
	list-style: none;
		li{
		float: left;
		clear: both;
		}
	}
	.fc_customer_password,
	.fc_customer_password2{
	float: left;
	}
	.header_top{
		a{
			padding: 2px 0 0 0;
			color: @white;
			font-size: 18px;
			&:hover,
			&:active{
				text-decoration: none;
			}
		}
	}
	table{
	width: 100%;
	margin: 0 0 15px 0;
		caption{
		color: @navy;
		text-transform: uppercase;
		font-size: 24px;
		line-height: 24px;
		margin: 15px 0 0 0;
		background: url(../img/elements/hr_3pt.png) left bottom repeat-x transparent;
		text-align: left;
		margin-bottom: 15px;
		padding-bottom: 5px;
		}
		#fc_cart_head{
		color: @white;
		text-transform: capitalize;
		background: @navy;
		text-align: left;
			th{
				&#fc_cart_head_item{
					padding-left: 15px;
				}
			}
		}
		.fc_cart_item_details{
			ul{
			list-style: none;
			margin: 0 0 0 10px;
			padding: 0;
			}
		}
		tr{
		border-bottom: 2px solid @grayLight;
			td{
			padding: 5px 0;
			}
		}
		.fc_col1 {
		text-align: right;
		padding-right: 10px;
		}
	}
	p{
		&.fc_account_message{
		padding-left: 215px;
		font-weight: bold;
		margin-top: 0;
		}
	}
	.fc_cart_checkout,
	.fc_cart_update{
	background-color: @irem_green;
	font-weight: lighter;
	color: @white;
	border: none;
	text-decoration: none;
	font-size: 22px;
	text-transform: capitalize;
	padding: 5px 10px;
	float: right;
	margin: 0 5px;
		&.fc_inactive{
		background-color: @grayLight;
		}
	}
	footer{
	width: 100%;
	height: 50px;
	background-color: @navy;
	margin-top: 20px;
	border-top: 5px solid @irem_blue;
		p{
			color: @white;
		}
	}
}