// !sitewide ------------------------------------------------------------------------------
body{
font-family: Helvetica, sans-serif;
color: @black;
background-color: #fff;
}
h1, h2, h3, h4 {
font-weight: 400;
}
h1{
color: @navy;
text-transform: uppercase;
font-size: 28px;
margin-bottom: 0;
}
h2{
color: @navy;
text-transform: uppercase;
font-size: 24px;
line-height: 24px;
margin: 15px 0 0 0;
padding-bottom: 5px;
background: url(../img/elements/hr_3pt.png) left bottom repeat-x transparent;
}
h4{
font-size: 18px;
line-height: 20px;
margin: 15px 0 0 0;
}
a,
a:visited {
color: @irem_blue;
}
a:hover,
a:active{
color: @navy;
text-decoration: none;
}
#main{
position: relative;
}
legend{
	display: none;
}

// !header ------------------------------------------------------------------------------
.header_top_bg{
height: 34px;
background-color: @navy;
}
.header_top{
padding: 2px 0 0 0;
float: right;
 ul{
  list-style: none;
  margin: 0;
  padding: 0;
   li{
     float: left;
     margin: 0 0 0 20px;
     a{
      font-size: 12px;
      font-weight: bold;
      font-family: @baseFontFamily;
      text-transform: uppercase;
      text-decoration: none;
      color: #fff;
      display: block;
      height: 30px;
      line-height: 30px;
      padding: 0 0 0 35px;
      background: url(../img/elements/topnav_sprites.png) left top no-repeat transparent;
        &:hover,
        &:active{
          color: @gold;
          background-position: left -84px;
        }
         &.two{
          padding: 0 0 0 30px;
          background-position: left -28px;
          &:hover,
	        &:active{
	          background-position: left -112px;
	        }
        }
         &.three{
          margin: 0 0 0 15px;
          background-position: left -56px;
          &:hover,
	        &:active{
	          background-position: left -140px;
	        }
        }
      }
   }
 }
}
.irem_logo{
background: url(../img/elements/irem_logo.png) center left no-repeat transparent;
margin: auto;
margin-top: 5px;
margin-bottom: 5px;
width: 120px;
height: 88px;
	a {
	display: block;
	width: 120px;
	height: 88px;
	}
}

// !checkout form ------------------------------------------------------------------------------
label{
float:left;
width: 250px;
padding-top: 10px;
margin-right: 15px;
text-align: right;
	&.fc_radio{
	width: 300px;
	text-align: left;
	margin: 0;
	}
	&.fc_error{
	font-size: 12px;
	color: red;
	padding: 0;
	margin: -5px 0 0 0;
	}
	&.fc_checkbox{
		text-align: left;
		text-transform: none;
	}
}
input{
margin: 5px 0;
	&[type="radio"]{
	width: 19px;
	height: 22px;
	padding: 0 2px 0 0;
	display: block;
	clear: left;
	float: left;
	margin-top: -2px;
	margin-left: -2px;
	}
	&[type="checkbox"]{
	float: left;
	}
}

// !foxycart------------------------------------------------------------------------------
.foxycart{
font-family: Helvetica, sans-serif;
font-weight: lighter;
color: @black;
	ol{
	list-style: none;
		li{
		float: left;
		clear: both;
		}
	}
	.fc_customer_password,
	.fc_customer_password2{
	float: left;
	}
	.header_top{
		a{
			padding: 2px 0 0 0;
			color: @white;
			font-size: 18px;
			&:hover,
			&:active{
				text-decoration: none;
			}
		}
	}
	table{
	width: 100%;
	margin: 0 0 15px 0;
		caption{
		color: @navy;
		text-transform: uppercase;
		font-size: 24px;
		line-height: 24px;
		margin: 15px 0 0 0;
		background: url(../img/elements/hr_3pt.png) left bottom repeat-x transparent;
		text-align: left;
		margin-bottom: 15px;
		padding-bottom: 5px;
		}
		#fc_cart_head{
		color: @white;
		text-transform: capitalize;
		background: @navy;
		text-align: left;
			th{
				&#fc_cart_head_item{
					padding-left: 15px;
				}
			}
		}
		.fc_cart_item_details{
			ul{
			list-style: none;
			margin: 0 0 0 10px;
			padding: 0;
			}
		}
		tr{
		border-bottom: 2px solid @grayLight;
			td{
			padding: 5px 0;
			}
		}
		.fc_col1 {
		text-align: right;
		padding-right: 10px;
		}
	}
	p{
		&.fc_account_message{
		padding-left: 215px;
		font-weight: bold;
		margin-top: 0;
		}
	}
	#fc_continue a,
	button.fc_button{
	background-color: @irem_green;
	font-weight: lighter;
	color: @white;
	border: none;
	text-decoration: none;
	font-size: 22px;
	text-transform: capitalize;
	padding: 5px 10px;
	float: right;
	}
	footer{
	width: 100%;
	height: 50px;
	background-color: @navy;
	margin-top: 20px;
	border-top: 5px solid @irem_blue;
		p{
			color: @white;
		}
	}
}

// !print------------------------------------------------------------------------------
@media print {
	body:before{content: "IREM Houston Checkout - http://iremhouston.org/  All Rights Reserved.";}
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; }
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; }
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}