/* ==|== primary styles =====================================================
   Author: Roger Sullivan
   ========================================================================== */
// !sitewide -------------------------------------------------------------------------------
body{
font-family: @baseFontFamily;
color: @irem_gray;
background-color: #fff;
}
#bgimg{display: none;}
h1, h2, h3, h4 {
font-family: @headerFontFamily;
font-weight: 600;
}
h3, h4, h5 {
font-family: @headerSecondaryFont;
font-weight: 400;
}
h1{
color: @navy;
text-transform: uppercase;
font-size: 28px;
	&.title{
	position: absolute;
	left: 430px;
	top: 7px;
	margin: 0;
	padding: 0;
	width: 510;
	}
	&.title_content{
	position: absolute;
	left: 330px;
	top: 7px;
	margin: 0;
	padding: 0;
	width: 610;
	}
	&.course_title{
	 font-size: 23px;
	}
}
h2{
color: @navy;
text-transform: uppercase;
font-size: 20px;
line-height: 24px;
margin: 15px 0 5px 0;
}
h3{
font-size: 14px;
line-height: 16px;
}
h4{
font-size: 14px;
line-height: 18px;
margin: 15px 0 0 0;
}
h5{
font-size: 13px;
line-height: 17px;
margin: 0;
}
p{
margin-top: 5px;
}
a,
a:visited {
color: @irem_blue;
}
a:hover,
a:active{
color: @navy;
text-decoration: none;
}
#main{
position: relative;
}
hr{
height: 5px;
border: 0px solid #fff;
margin: 0;
	&.hr_col_1{
	height: 3px;
	background: url(../img/elements/hr_3pt.png) repeat-x transparent;
	}
	&.hr_col_2{
	background: url(../img/elements/hr_5pt.png) repeat-x transparent;
	}
	&.hr_col_content_2{
	height: 3px;
	background: url(../img/elements/hr_3pt.png) repeat-x transparent;
	}
	&.hr_col_3{
	background: url(../img/elements/hr_5pt.png) repeat-x transparent;
	}
	&.hr_col_sidenav_3{
	height: 3px;
	background: url(../img/elements/hr_3pt.png) repeat-x transparent;
	}
	&.hr_col_4{
	background: url(../img/elements/hr_5pt.png) repeat-x transparent;
	}
	&.hr_col_6{
	background: url(../img/elements/hr_5pt.png) repeat-x transparent;
	}
	&.hr_col_8_3pt{
	height: 3px;
	background: url(../img/elements/hr_3pt.png) repeat-x transparent;
	}
	&.hr_col_8_5pt{
	height: 5px;
	background: url(../img/elements/hr_5pt.png) repeat-x transparent;
	}
}
table{
margin-bottom: 20px;
	thead{
	width: 620px;
	font-size: 20px;
	color: @irem_blue;
	text-transform: uppercase;
	font-weight: 600;
	background: url(../img/elements/hr_3pt.png) left bottom repeat-x transparent;
	font-family: @headerFontFamily;
	}
	tbody{
	width: 620px;
		tr{
		width: 620px;
			td{
			padding: 5px 20px 5px 0;
				a{
				text-decoration: none;
				}
			}
		}
	}
}
.breadcrumbs{
	ul{
	margin: -10px 0 0 0;
	padding: 0;
	list-style: none;
		li{
		display: inline;
			a{
			text-decoration: none;
			}
		}
	}
}
.error{color: @navy;}

// !sidebars ------------------------------------------------------------------------------
.badge_wrapper{
width: 100%;
height: 100px;
  .join_badge{
    a{
    background: url(../img/elements/banner_sidenav_jointoday.png) center center no-repeat transparent;
    display: block;
    width: 100px;
    height: 100px;
    margin: auto;
    }
  }
}
.content_nav {
text-align: right;
	ul{
	list-style: none;
	margin: 0;
	padding: 0;
		lh{
		color: @irem_blue;
		text-transform: uppercase;
		padding-bottom: 2px;
		}
		li{
		margin-bottom: 3px;
			a{
			text-decoration: none;
			text-transform: uppercase;
			padding: 2px 0 2px 5px;
			}
			&.active a{
	    background: url(../img/elements/hr_2pt.png) right bottom repeat-x transparent;
      }
			p{
			margin: 0;
			padding: 0;
			}
		}
	}
	&.courses{
		ul{
		padding: 0 0 20px 0;
			lh{
			background: url(../img/elements/hr_2pt.png) left bottom repeat-x transparent;
			}
			li{
			padding: 7px 0;
				&.course_sidebar{
				  width: 125px;
				  float: right;
				}
			}
		}
	}
	&.contact_sidebar{
		h2{
		color: @irem_blue;
		font-size: 16px;
		line-height: 22px;
		}
		p{
		font-size: 16px;
		line-height: 22px;
		margin: 0;
		}
		.location{
		margin-bottom: 27px;
			h2{
			background: url(../img/elements/contact_arrow.png) left center no-repeat transparent;
			padding-left: 60px;
			margin-bottom: 0;
			}
		}
		.directions{
		margin-top: 30px;
			h2{
			margin: 0;
			}
			p{
			font-size: 14px;
			line-height: 18px;
			margin: 0;
			}
		}
	}
}

// !header ------------------------------------------------------------------------------
.header_top_bg{
height: 34px;
background-color: @navy;
}
.header_top{
padding: 2px 0 0 0;
float: right;
 ul{
  list-style: none;
  margin: 0;
  padding: 0;
   li{
     float: left;
     margin: 0 0 0 20px;
     a{
      font-size: 12px;
      font-weight: bold;
      font-family: @baseFontFamily;
      text-transform: uppercase;
      text-decoration: none;
      color: #fff;
      display: block;
      height: 30px;
      line-height: 30px;
      padding: 0 0 0 35px;
      background: url(../img/elements/topnav_sprites.png) left top no-repeat transparent;
        &:hover,
        &:active{
          color: @gold;
          background-position: left -84px;
        }
         &.two{
          padding: 0 0 0 30px;
          background-position: left -28px;
          &:hover,
	        &:active{
	          background-position: left -112px;
	        }
        }
         &.three{
          margin: 0 0 0 15px;
          background-position: left -56px;
          &:hover,
	        &:active{
	          background-position: left -140px;
	        }
        }
        &.four{
          margin: 0;
          background-position: left -168px;
          &:hover,
	        &:active{
	          background-position: left -196px;
	        }
        }
      }
   }
 }
}
.nav_main_bg{
background-color: #fff;
}
.irem_logo{
background: url(../img/elements/irem_logo.png) center left no-repeat transparent;
margin: auto;
margin-top: 5px;
margin-bottom: 5px;
width: 120px;
height: 88px;
	a {
	display: block;
	width: 120px;
	height: 88px;
	}
}
.nav_buttons{
 ul{
  list-style: none;
  margin: 0;
  padding: 0;
   li{
     float: left;
     margin: 20px 0 0 35px;
     padding: 0;
     a{
      float: left;
      clear: both;
      font-size: 14px;
      font-weight: bold;
      font-family: @baseFontFamily;
      text-decoration: none;
      color: @irem_gray;
      display: block;
      height: 20px;
      padding: 10px 0 0 0;
        &:hover,
        &:active{
          color: @irem_blue;
        }
        &.icon{
	       float: left;
	       clear: both;
	       display: block;
	       width: 100%;
	       height: 28px;
	       text-indent: -5px;
	       overflow: hidden;
	       padding: 0;
	       background: url(../img/elements/mainnav_sprites.png) top center no-repeat transparent;
		        &.icon_1{
		          background-position: 50% 0px;
		        }
		        &.icon_2{
		          background-position: 50% -29px;
		        }
		        &.icon_11{
		          background-position: 50% -56px;
		        }
		        &.icon_12{
		          background-position: 50% -84px;
		        }
		        &.icon_16{
		          background-position: 50% -112px;
		        }
		        &.icon_19{
		          background-position: 50% -140px;
		        }
		        &.icon_24{
		          background-position: 50% -169px;
		        }
		        &.icon_25{
		          background-position: 50% -196px;
		        }
		     }
      }

     &.active{
    	a{
    	color: @irem_blue;
    		&.icon{
    			&.icon_1{
		          background-position: 50% -224px;
		        }
		        &.icon_2{
		          background-position: 50% -253px;
		        }
		        &.icon_11{
		          background-position: 50% -280px;
		        }
		        &.icon_12{
		          background-position: 50% -308px;
		        }
		        &.icon_16{
		          background-position: 50% -336px;
		        }
		        &.icon_19{
		          background-position: 50% -364px;
		        }
		        &.icon_24{
		          background-position: 50% -393px;
		        }
		        &.icon_25{
		          background-position: 50% -420px;
		        }

    		}
    	}
    }
    }
  }
}

// !banners  ------------------------------------------------------------------------------------------------------------------------
// !home banner  ----------------------------------------------------
.home_banner{
background: url(../img/elements/testimonial_banner.png) no-repeat transparent;
height: 400px;
margin: 20px 10px;
color: #fff;
 .home_banner_left{
   height: 380px;
   background: url(../img/elements/testimonial_quote_open.png) 13px 25px no-repeat transparent;
   ul{
     list-style-type: none;
     margin: 0;
     padding: 0;
   }
 }
 p{
   font-size: 22px;
   line-height: 33px;
   padding: 30px 45px 0 50px;
   margin: 0;
   background: url(../img/elements/testimonial_quote_close.png) 340px bottom no-repeat transparent;
   &.author{
     font-size: 17px;
     padding: 15px 0 0 50px;
     line-height: 17px;
     background: none;
     font-weight: bold;
   }
    &.company{
     font-size: 16px;
     font-style: italic;
     padding: 2px 0 0 50px;
     line-height: 16px;
     background: none;
   }
   a{
   color: @white;
   	&:hover{
   	text-decoration: none;
   	}
   }
 }
 .home_banner_right{
   margin-top: 26px;
   width: 560px;
   float: left;
 }
}

.slideshow{
overflow: hidden;
  li{
    list-style-type: none;
  }
 img{
    margin-left: -1px;
    display: block;
  }
}
// !content banner  ------------------------------------------------------------------------
.content_banner{
background: url(../img/elements/content_banner.png) no-repeat transparent;
height: 400px;
margin: 20px 10px;
color: #fff;
	.content_banner_left{
 	height: 257px;
 		.content_banner_left_inner{
		width: 200px;
		margin: 15px 0 0 30px;
	   p{
	   font-size: 13px;
	   line-height: 17px;
	   margin: 0;
	   }
	   ul {
	   list-style: none;
	   margin: 0 0 5px 0;
	   padding: 0;
	   	li{
	   	margin: 0;
	   	background: url(../img/elements/hr_2pt.png) left bottom repeat-x transparent;
	   	font-size: 12px;
	   	line-height: 16px;
	   	padding: 2px 0 2px 0;
	   		a{
	   		color: @white;
	   		text-decoration: none;
	   		padding: 0 0 0 10px;
	   			&:hover{
	   			color: @gold;
	   			}
	   		}
	   		&.active{
	   			a{
	   			color: @gold;
	   			}
   				ul li{
   				  a{
             color: @white;
              }
            &.active{
              a{
               color: @gold;
              }
            }
   				}
   			}
		   	ul{
		   	background: url(../img/elements/hr_2pt.png) left top repeat-x transparent;
		   	margin: 0;
		   	padding-top: 3px;
		   		li{
		   		background: none;
		   		line-height: 14px;
		   			a{
		   			color: @white;
		   			padding:0 0 0 20px;
		   				&:hover{
		   				color: @gold;
		   					}
		   				}
		   			}
		   		}
	   		}
	  	}
  	}
 	}
	.content_banner_right{
  margin-top: 26px;
  padding: 60px 40px 0 20px;
  width: 580px;
	float: left;
	&.newsworthy_banner{
		a{
			font-weight: normal;
			text-transform: none;
		}
	}
	.calendar_details{
	margin: 15px 0;
		p{
		margin: 0;
		padding: 0;
			&.date a{
			font-weight: bold;
			text-decoration: none;
			}
		}
	}
	strong{
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
  line-height: 2px;
  padding: 0;
  }
		p{
    font-size: 16px;
    line-height: 27px;
    padding: 0 0 15px 0;
    margin: 0;
   		strong{
   		text-transform: uppercase;
   		font-weight: bold;
   		}
		}
		a{
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: underline;
    color: @white;
    }
    ul{
	    color: @white;
	    margin:0;
	    padding: 0 0 0 20px;
	    li{
		    font-size: 16px;
		    line-height: 20px;
		    padding: 7px 0;
	    }
    }
		&.education_link{
			a{
      text-transform: none;
      font-weight: normal;
     	}
		}
		&.course_description{
		position: relative;
			.register_link{
			padding: 10px 15px;
			font-weight: lighter;
			background: @irem_green;
			color: @white;
			border: 1px solid darken(@irem_green, 10%);
			position: absolute;
			top: 10px;
			right: 10px;
			text-decoration: none;
			font-size: 22px;
			text-transform: capitalize;
			cursor: pointer;
			z-index: 101;
			}
			p{
			font-size: 14px;
			line-height: 17px;
				strong{
				font-size: 17px;
				line-height: 20px;
				}
			 	&.quantity{
				padding: 7px 0 10px 40px;
				}
			}
		}
	}
}
.content_banner_right.course_description{
  .registration_container{
    display: none;
    width: 563px;
    height: auto;
    min-height: 260px;
    position: absolute;
    top: 0;
    right: 0;
    background-color: @irem_green;
    z-index: 100;
    padding: 50px 40px 60px 80px;
  }
}

// !footer  ------------------------------------------------------------------------------
.footer_main_bg{
height: 183px;
background-color: @navy;
margin-top: 20px;
border-top: 5px solid @irem_blue;
}
.footer_badge_wrapper{
width: 100%;
height: 102px;
  .footer_badge{
    a{
    background: url(../img/elements/CPM_badge.png) no-repeat transparent;
    display: block;
    width: 102px;
    height: 102px;
    margin: 20px 0 0 20px;
    }
  }
}
.footer_nav{
	.copyright{
		margin-top: 10px;
		a,
		a:visited{
			color: @white;
			&:hover,
			&:active{
				text-decoration: none;
			}
		}
	}
 ul{
  list-style: none;
  padding: 0;
  float: left;
  margin: 1px 0 0 10px;
      &.footer_nav_middle{
      }
      &.footer_nav_right {
      }
   li{
     clear: both;
      font-size: 11px;
      font-weight: bold;
      text-transform: uppercase;
      a{
      font-size: 10px;
      line-height: 12px;
      font-family: @baseFontFamily;
      text-decoration: none;
      color: #fff;
      display: block;
      height: 11px;
      padding-top: 10px;
      color: @gold;
        &:hover,
        &:active{
          color: @white;
        }
      }
       ul{
         margin: 0;
         li{
            font-weight: normal;
            text-transform: none;
            margin: 0;
            a{
              color: @white;
              padding-top: 0;
                &:hover,
                &:active{
                  color: @gold;
            }
         }
       }
     }
   }
 }
}
.footer_map{
background: url(../img/elements/footer_map_V2.png) right no-repeat transparent;
width: 247px;
height: 183px;
position: relative;
}
.footer_contact{
background: url(../img/elements/footer_map_infocircle.png) 18px 40px no-repeat transparent;
width: 247px;
height: 183px;
position: absolute;
}
.contact_text{
margin: 46px 0 0 69px;
width: 100px;
height: 100px;
overflow: hidden;
  p{
    margin: 0;
    font-size: 9px;
    line-height: 10px;
    &.title{
       text-transform: uppercase;
       color: @irem_blue;
       font-weight: bold;
       font-size: 9px;
    }
  }
}

// !general content styles  ------------------------------------------------------------------------------
.pullquote{
background: url(../img/elements/pullquote_open.png) 5px 20px no-repeat transparent;
	.pullquote_content{
	padding: 10px 20px 20px 50px;
	 .quote{
      background: url(../img/elements/pullquote_close.png) right bottom no-repeat transparent;
      padding-right: 20px;
      p{
        color: @navy;
        font-size: 22px;
        line-height: 34px;
        padding-right: 20px;
        a{
          color: @navy;
           &:hover{
             color: @irem_blue;
             text-decoration: none;
                        }
          }
        }
		}
		.author{
		float: right;
		text-align: right;
		padding-right: 0;
		margin-bottom: 20px;
			p{
			font-size: 12px;
			line-height: 15px;
			margin: 0;
			padding: 0;
			}
		}
	}
}
.content{
margin-top: 20px;
float: left;
	h1{
	margin-bottom: 0;
	}
	h2 {
	padding: 0;
	margin: 0;
	}
	p{
	margin: 0 0 20px 0;
	}
	ul{
	margin: 0 0 15px 0;
	padding: 0 0 0 15px;
		li{
		padding: 2px 0;
		}
	}
}
.connect_wrapper{
width: 100%;
margin-top: 5px;
float: right;
  .connect{
  background: url(../img/elements/contact_connectwithIREM.png) no-repeat transparent;
  width: 98px;
  height: 15px;
  float: left;
  margin-right: 5px;
  }
  .facebook{
  	a{
    background: url(../img/elements/facebook_sprite_white.png) no-repeat transparent;
    display: block;
    width: 16px;
    height: 16px;
    float: left;
    margin-right: 5px;
    }
	}
  .linkedin{
	  a{
	  background: url(../img/elements/linkedin_sprite_white.png) no-repeat transparent;
	  display: block;
	  width: 16px;
	  height: 16px;
	  float: left;
		}
	}
&.contact_connect{
float: right;
	.facebook{
		a{
		background: url(../img/elements/facebook_sprite_blue.png) no-repeat transparent;
		}
	}
	.linkedin{
		a{
		background: url(../img/elements/linkedin_sprite_blue.png) no-repeat transparent;
		}
	}
}
}

.footer_connect{
   margin-top: 20px;
}
.copyright{
  float: right;
  color: white;
  font-size: 8px;
  text-decoration: none;
}

// !homepage  -----------------------------------------------------------------------------------------------------
.home_content{
margin: -2px 10px 13px;
 h1{
   margin-top: 10px;
 }
 p{
   font-size: 17px;
   line-height: 27px;
 }
}
.home_column{
	h2 {
	background: url(../img/elements/home_column_sprites.png) right 2px no-repeat transparent;
	}
  h2 a{
   color: @navy;
   text-transform: uppercase;
   font-size: 24px;
   line-height: 24px;
   text-decoration: none;
   display: block;
   background: url(../img/elements/home_column_sprites.png) right -87px no-repeat transparent;
}
  h2.community{
    width: 280px;
    a{
	    background: url(../img/elements/home_community_sprites.png) right center no-repeat transparent;
    }
  }
  h2.education{
    a{
	    background: url(../img/elements/home_education_sprites.png) right center no-repeat transparent;
    }
  }
  h2.career{
    a{
	    background: url(../img/elements/home_career_sprites.png) right center no-repeat transparent;
    }
  }
  h2.calendar{
    a{
	    background: url(../img/elements/home_calendar_sprites.png) right center no-repeat transparent;
    }
  }
  h3{
   color: @navy;
   font-size: 12px;
   font-weight: bold;
   width: 100%;
  }
  p{
    font-size: 12px;
    line-height: 17px;
  }
  a{
    color: @navy;
    font-size: 12px;
    text-transform: lowercase;
  }
  img{
    padding: 0 0 10px 0;
  }
}// end home_column

  .home_column_1{
    h2{
      padding-left: 10px;
    }
     img{
      padding: 0 10px 10px 10px;
      }
      p{
       padding-right: 15px;
       padding-left: 10px;
      }
     .photo_title{
      width: 138px;
      p{
        margin-top: 0;
        padding: 0;
      }
    }
     h3{
      font-family: @baseFontFamily;
      padding-left: 10px;
      margin-bottom: 0;
    }
  } // end column_1
  .home_column_2{
  } // end column_2
  .home_column_3{
    a{
      text-transform: none;
    }
  } // end column_3
  .home_column_4{
    .calendar_details{
      padding-bottom: 20px;
      p{
        line-height: 17px;
        margin: 0;
        &.date{
        	a{
	        	font-weight: bold;
	        	text-decoration: none;
	        	text-transform: capitalize;
        	}
        }
      }
    }
  } // end column_4

.home_resources{
  h2{
   background: none;
   padding: 0 0 16px 0;
   margin: 0;
   }
}
.resources_link{
   margin-top: 18px;
 }

// !community page  ------------------------------------------------------------------------------
.community_block{
	h2{
	margin-top: 20px;
	 a{
	   color: @irem_gray;
	   text-decoration: none;
	 }
	}
	img{
	margin-bottom: 20px;
	}
}

// !calendar ------------------------------------------------------------------------------
ul.calendar{
list-style: none;
margin: 0;
padding: 0;
	li{
	padding: 0 0 10px 0;
	margin: 0 0 10px 0;
	background: url(../img/elements/hr_3pt.png) left bottom repeat-x transparent;
		h2{
		color: @irem_blue;
		font-size: 20px;
		line-height: 24px;
		margin: 0 0 5px 0;
			a{
			text-decoration: none;
			}
		}
		h3{
		color: @irem_gray;
		margin: 0 0 5px 0;
		}
		p{
		margin: 0;
		  a{
		    text-decoration: none;
		     &:hover,
         &:active{
           color: @irem_gray;
           text-decoration: underline;
        }
		  }
		}
		&.detail_back{
		  background: none;
		  a{
		    color: @irem_gray;
		     &:hover,
         &:active{
           text-decoration: none;
        }
		  }
		}
	}
}
.type-24{
	.content_banner{
		.content_banner_right{
			form{
			  fieldset{width: 560px}
				.checkbox, .radio {
			  padding: 0 2px 0 0;
			  display: block;
			  float: left;
				}
				.radio {
			  margin: 4px 5px 0 0;
				}
				p{
  				padding: 2px 0;
  				&.radio_label{
          	padding-left: 20px;
          }
				}
				.register_event_submit{
  				position: absolute;
  				bottom: 10px;
  				right: 10px;
  				color: @white;
  				font-size: 22px;
  				font-weight: lighter;
  				padding: 10px 15px;
  				background-color: @navy;
  				border: 1px solid lighten(@navy, 20%)
				}
			}
		}
	}
	.event_reg_fees{
	width: 275px;
	}
	.guests_controls{
	width: 275px;
		#add_guests_text{
			margin-bottom: 0;
			display: block;
		}
	}
}
#attend_quantity_label_multiple{display: none}

// !education ------------------------------------------------------------------------------
.education{
  p{
    font-size: 12px;
  }
  a{
    text-decoration: none;
    color: @irem_blue;
  }
  ul{
    list-style: none;
    margin: 0;
    padding: 0;
    padding-bottom: 10px;
    li{
      font-size: 12px;
      line-height: 6px;
    }
  }
  .hotel_name{
    font-weight: bold;
    color: @irem_gray;
    padding: 15px 0 5px 0;
  }
  .hotel_email{
    color: @irem_blue;
  }
}

// !course descriptions ------------------------------------------------------------------------------
.type-6 form{
	p{
		padding-bottom: 0;
	}
	.controls{
		p{
		padding-left: 20px;
		}
		.checkbox {
			margin: -5px 0 0 0;
			padding: 5px 0 0 0;
			height: 13px;
		}
	}
}

// !careers ------------------------------------------------------------------------------
.js #resumes{
	display: none;
}

// !legislative links ------------------------------------------------------------------------------
.legislative_links {
margin-bottom: 20px;
	ul{
	margin: 0;
	padding: 0;
	list-style: none;
		li{
		margin: 0;
		padding: 0 0 0 20px;
		text-indent: -20px;
			a{
			color: @irem_blue;
			text-decoration: none;
			line-height: 19px;
			font-size: 12px;
				&:hover{
				color: @navy;
				text-decoration: underline;
				}
			}
		}
	}
}

// !volunteer form ------------------------------------------------------------------------------
.label_style{
  color: @irem_blue;
  text-transform: uppercase;
  font-size: 16px;
}

.form_text{
  display: block;
  padding-left: 19px;
  padding-bottom: 10px;
}

.form_text_list{
  display: block;
  padding-left: 40px;
  line-height: 21px;
  padding-bottom: 10px;
}

.checkbox, .radio {
  width: 19px;
  height: 22px;
  padding: 0 2px 0 0;
  background: url(../img/elements/checkboxes_sprite_V2.png) no-repeat;
  display: block;
  clear: left;
  float: left;
  margin-top: -2px;
  margin-left: -2px;
}
.radio {
  background: url(../img/elements/checkboxes_sprite_V2.png) no-repeat;
}

.js {
	input[type="checkbox"]{
	display: none;
	}
	.type-24 input[type="checkbox"]{
	display: block;
	margin: 3px 5px 0 0;
	}
}

.submit {
 background-color: @irem_green;
 font-weight: lighter;
 color: @white;
 border: none;
 text-decoration: none;
 font-size: 22px;
 text-transform: capitalize;
 padding: 5px 10px;
}
.required{
	color: red;
}

// !contact ------------------------------------------------------------------------------
.map{
	a{
	display: block;
	float: right;
	margin: 20px 0 0 0;
	padding: 0;
	height: 496px;
	width: 560px;
	background: url(../img/elements/Contact_Map_Background.png) right center no-repeat transparent;
	}
}
.contact_sidebar{
	.email_us{
		a{
			padding-left: 25px;
			text-decoration: none;
			background: url(../img/elements/email_icon.png) left center no-repeat transparent;
			&:hover,
			&.active{
				color: @irem_blue;
				text-decoration: underline;
			}
		}
	}
}

// !image_grids, team, photos, friends ------------------------------------------------------------------------------
.anchor_nav{
margin-bottom: 10px;
	a{
	color: @navy;
	text-decoration: none;
	font-size: 12px;
		&:hover{
		text-decoration: underline;
		}
	}
}
.image_grid_wrapper{
margin-bottom: 30px;
	.image_grid_block{
	position: relative;
	margin-bottom: 30px;
		.image_grid_image{

		}
		.image_grid_content{
		position: absolute;
		bottom: 0;
		right: 0;
		font-size: 10px;
			h4{
			color: @navy;
			font-weight: bold;
			}
			p{
			margin: 0;
			}
			a{
			color: @navy;
			font-weight: bold;
			text-decoration: none;
			}
		}
	}
}
.former_presidents{
h3{margin:0}
	ul{
	list-style: none;
	margin: 5px 0 0 0;
	padding: 0;
		li{
		margin: 0;
		padding: 0;
		}
	}
}

.friend_image{
  background-color: yellow;
  width: 140px;
  height: 126px;
}

// !newsworthy------------------------------------------------------------------------------
.article_back{
  margin: -20px 0 30px 0;
}
.article_list{
  ul{
    list-style-type: none;
    margin: 0 0 20px -18px;
    padding: 0 30px 0 0;
    li{
      padding: 0 0 15px 0;
      a{
        text-decoration: none;
        &:hover{
          color: @irem_gray;
        }
      }
    }
  }
}
.paging{
	float:right;
	width: 100%;
	text-align: right;
	ul{
		margin:0;
		padding: 0;
		li{
			display: inline;
			padding: 5px;
			a.active{
				color: @gray;
			}
		}
	}
}
.article_text{
  p{
    padding-right: 30px;
  }
}

// !twitter------------------------------------------------------------------------------
#twitter_update_list{
margin: 15px 0 40px 0;
	li{
	list-style: none;
	margin: 0;
	padding: 0;
	font-size: 16px;
	line-height: 27px;
	}
}

// !event feeds------------------------------------------------------------------------------
.js #next_event,
.js #upcoming_events{
display: none;
}

// !foxycart------------------------------------------------------------------------------
.fc_cbox #cboxClose span{color: @navy;}

.pay_now_link{
	padding: 10px 15px;
	font-weight: lighter;
	background: @irem_green;
	color: @white;
	text-decoration: none;
	font-size: 22px;
	text-transform: capitalize;
	float: right;
}
.page-177 .form-horizontal .control-group > label{
	width: 300px;
	margin-right: 10px;
}

/* ==|== end primary styles ======================================== */

// !print------------------------------------------------------------------------------
@media print {
	header,
	.footer_nav,
	#backstretch{
		display:none !important;
	}
	body:before{content: "IREM Houston - http://iremhouston.org/  All Rights Reserved.";}
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; }
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; }
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}