// UTILITY CLASSES
// ---------------

// Quick floats
.pull-right {
  float: right;
}
.pull-left {
  float: left;
}

// Toggling content
.hide {
  display: none;
}
.show {
  display: block;
}

// Visibility
.invisible {
  visibility: hidden;
}

.full {
  width: 100%;
}
.no_text {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}