/*!
 * Bootstrap v2.0.0
 *
 * Copyright 2012 Twitter, Inc
 * Licensed under the Apache License v2.0
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Designed and built with all the love in the world @twitter by @mdo and @fat.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]) {
  display: none;
}
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
a:hover,
a:active {
  outline: 0;
}
sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  max-width: 100%;
  height: auto;
  border: 0;
  -ms-interpolation-mode: bicubic;
}
button,
input,
select,
textarea {
  margin: 0;
  font-size: 100%;
  vertical-align: middle;
}
button,
input {
  *overflow: visible;
  line-height: normal;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
body {
  min-width: 960px;
}
.container_12 {
  margin-left: auto;
  margin-right: auto;
  width: 960px;
}
.grid_1,
.grid_2,
.grid_3,
.grid_4,
.grid_5,
.grid_6,
.grid_7,
.grid_8,
.grid_9,
.grid_10,
.grid_11,
.grid_12 {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
}
.push_1,
.pull_1,
.push_2,
.pull_2,
.push_3,
.pull_3,
.push_4,
.pull_4,
.push_5,
.pull_5,
.push_6,
.pull_6,
.push_7,
.pull_7,
.push_8,
.pull_8,
.push_9,
.pull_9,
.push_10,
.pull_10,
.push_11,
.pull_11 {
  position: relative;
}
.alpha {
  margin-left: 0;
}
.omega {
  margin-right: 0;
}
.container_12 .grid_1 {
  width: 60px;
}
.container_12 .grid_2 {
  width: 140px;
}
.container_12 .grid_3 {
  width: 220px;
}
.container_12 .grid_4 {
  width: 300px;
}
.container_12 .grid_5 {
  width: 380px;
}
.container_12 .grid_6 {
  width: 460px;
}
.container_12 .grid_7 {
  width: 540px;
}
.container_12 .grid_8 {
  width: 620px;
}
.container_12 .grid_9 {
  width: 700px;
}
.container_12 .grid_10 {
  width: 780px;
}
.container_12 .grid_11 {
  width: 860px;
}
.container_12 .grid_12 {
  width: 940px;
}
.container_12 .prefix_1 {
  padding-left: 80px;
}
.container_12 .prefix_2 {
  padding-left: 160px;
}
.container_12 .prefix_3 {
  padding-left: 240px;
}
.container_12 .prefix_4 {
  padding-left: 320px;
}
.container_12 .prefix_5 {
  padding-left: 400px;
}
.container_12 .prefix_6 {
  padding-left: 480px;
}
.container_12 .prefix_7 {
  padding-left: 560px;
}
.container_12 .prefix_8 {
  padding-left: 640px;
}
.container_12 .prefix_9 {
  padding-left: 720px;
}
.container_12 .prefix_10 {
  padding-left: 800px;
}
.container_12 .prefix_11 {
  padding-left: 880px;
}
.container_12 .suffix_1 {
  padding-right: 80px;
}
.container_12 .suffix_2 {
  padding-right: 160px;
}
.container_12 .suffix_3 {
  padding-right: 240px;
}
.container_12 .suffix_4 {
  padding-right: 320px;
}
.container_12 .suffix_5 {
  padding-right: 400px;
}
.container_12 .suffix_6 {
  padding-right: 480px;
}
.container_12 .suffix_7 {
  padding-right: 560px;
}
.container_12 .suffix_8 {
  padding-right: 640px;
}
.container_12 .suffix_9 {
  padding-right: 720px;
}
.container_12 .suffix_10 {
  padding-right: 800px;
}
.container_12 .suffix_11 {
  padding-right: 880px;
}
.container_12 .push_1 {
  left: 80px;
}
.container_12 .push_2 {
  left: 160px;
}
.container_12 .push_3 {
  left: 240px;
}
.container_12 .push_4 {
  left: 320px;
}
.container_12 .push_5 {
  left: 400px;
}
.container_12 .push_6 {
  left: 480px;
}
.container_12 .push_7 {
  left: 560px;
}
.container_12 .push_8 {
  left: 640px;
}
.container_12 .push_9 {
  left: 720px;
}
.container_12 .push_10 {
  left: 800px;
}
.container_12 .push_11 {
  left: 880px;
}
.container_12 .pull_1 {
  left: -80px;
}
.container_12 .pull_2 {
  left: -160px;
}
.container_12 .pull_3 {
  left: -240px;
}
.container_12 .pull_4 {
  left: -320px;
}
.container_12 .pull_5 {
  left: -400px;
}
.container_12 .pull_6 {
  left: -480px;
}
.container_12 .pull_7 {
  left: -560px;
}
.container_12 .pull_8 {
  left: -640px;
}
.container_12 .pull_9 {
  left: -720px;
}
.container_12 .pull_10 {
  left: -800px;
}
.container_12 .pull_11 {
  left: -880px;
}
.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}
.clearfix:before,
.clearfix:after,
.container_12:before,
.container_12:after {
  content: '.';
  display: block;
  overflow: hidden;
  visibility: hidden;
  font-size: 0;
  line-height: 0;
  width: 0;
  height: 0;
}
.clearfix:after,
.container_12:after {
  clear: both;
}
.clearfix,
.container_12 {
  zoom: 1;
}
form {
  margin: 0 0 18px;
}
fieldset {
  padding: 0;
  margin: 0;
  border: 0;
}
legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: 27px;
  font-size: 19.5px;
  line-height: 36px;
  color: #333333;
  border: 0;
  border-bottom: 1px solid #eee;
}
label,
input,
button,
select,
textarea {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-weight: normal;
  line-height: 18px;
}
label {
  display: block;
  margin-bottom: 5px;
  color: #0668b3;
  text-transform: uppercase;
  font-size: 16px;
}
label .form_text {
  text-transform: none;
  font-size: 12px;
  color: #57585b;
  display: block;
}
input,
textarea,
select,
.uneditable-input {
  display: inline-block;
  width: 210px;
  height: 18px;
  padding: 4px;
  margin-bottom: 9px;
  font-size: 13px;
  line-height: 18px;
  color: #57585b;
  border: 1px solid #4db787;
}
.uneditable-textarea {
  width: auto;
  height: auto;
}
label input,
label textarea,
label select {
  display: block;
}
input[type="image"],
input[type="checkbox"],
input[type="radio"] {
  width: auto;
  height: auto;
  /*
  padding: 0;
  margin: 3px 0;
  *margin-top: 0;
*/
  /* IE7 */

  line-height: normal;
  border: 0;
  cursor: pointer;
}
input[type="file"] {
  padding: initial;
  line-height: initial;
  border: initial;
  background-color: #ffffff;
  background-color: initial;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
input[type="button"],
input[type="reset"],
input[type="submit"] {
  width: auto;
  height: auto;
}
select,
input[type="file"] {
  height: 28px;
  /* In IE7, the height of the select element cannot be changed by height, only font-size */

  *margin-top: 4px;
  /* For IE7, add top margin to align select with labels */

  line-height: 28px;
}
select {
  width: 220px;
  background-color: #ffffff;
}
select[multiple],
select[size] {
  height: auto;
}
input[type="image"] {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
textarea {
  height: auto;
}
input[type="hidden"] {
  display: none;
}
.radio,
.checkbox {
  padding-left: 18px;
}
.radio input[type="radio"],
.checkbox input[type="checkbox"] {
  float: left;
  margin-left: -18px;
  background: url(../img/elements/checkbox.png) center center no-repeat transparent;
}
.controls > .radio:first-child,
.controls > .checkbox:first-child {
  padding-top: 5px;
}
.radio.inline,
.checkbox.inline {
  display: inline-block;
  margin-bottom: 0;
  vertical-align: middle;
}
.radio.inline + .radio.inline,
.checkbox.inline + .checkbox.inline {
  margin-left: 10px;
}
.controls > .radio.inline:first-child,
.controls > .checkbox.inline:first-child {
  padding-top: 0;
}
input,
textarea {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
  -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
  -ms-transition: border linear 0.2s, box-shadow linear 0.2s;
  -o-transition: border linear 0.2s, box-shadow linear 0.2s;
  transition: border linear 0.2s, box-shadow linear 0.2s;
}
input:focus,
textarea:focus {
  border-color: #31394c;
  outline: 0;
  outline: thin dotted \9;
  /* IE6-8 */

}
input[type="file"]:focus,
input[type="checkbox"]:focus,
select:focus {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.input-micro {
  width: 20px;
}
.input-mini {
  width: 60px;
}
.input-small {
  width: 90px;
}
.input-medium {
  width: 150px;
}
.input-large {
  width: 210px;
}
.input-xlarge {
  width: 370px;
}
.input-xxlarge {
  width: 530px;
}
input[class*="span"],
select[class*="span"],
textarea[class*="span"],
.uneditable-input {
  float: none;
  margin-left: 0;
}
input.span1,
textarea.span1,
.uneditable-input.span1 {
  width: 50px;
}
input.span2,
textarea.span2,
.uneditable-input.span2 {
  width: 130px;
}
input.span3,
textarea.span3,
.uneditable-input.span3 {
  width: 210px;
}
input.span4,
textarea.span4,
.uneditable-input.span4 {
  width: 290px;
}
input.span5,
textarea.span5,
.uneditable-input.span5 {
  width: 370px;
}
input.span6,
textarea.span6,
.uneditable-input.span6 {
  width: 450px;
}
input.span7,
textarea.span7,
.uneditable-input.span7 {
  width: 530px;
}
input.span8,
textarea.span8,
.uneditable-input.span8 {
  width: 610px;
}
input.span9,
textarea.span9,
.uneditable-input.span9 {
  width: 690px;
}
input.span10,
textarea.span10,
.uneditable-input.span10 {
  width: 770px;
}
input.span11,
textarea.span11,
.uneditable-input.span11 {
  width: 850px;
}
input.span12,
textarea.span12,
.uneditable-input.span12 {
  width: 930px;
}
input[disabled],
select[disabled],
textarea[disabled],
input[readonly],
select[readonly],
textarea[readonly] {
  background-color: #ffffff;
  border-color: #4db787;
  cursor: not-allowed;
}
.control-group.warning > label,
.control-group.warning .help-block,
.control-group.warning .help-inline {
  color: #c09853;
}
.control-group.warning input,
.control-group.warning select,
.control-group.warning textarea {
  color: #c09853;
  border-color: #c09853;
}
.control-group.warning input:focus,
.control-group.warning select:focus,
.control-group.warning textarea:focus {
  border-color: #a47e3c;
  -webkit-box-shadow: 0 0 6px #dbc59e;
  -moz-box-shadow: 0 0 6px #dbc59e;
  box-shadow: 0 0 6px #dbc59e;
}
.control-group.warning .input-prepend .add-on,
.control-group.warning .input-append .add-on {
  color: #c09853;
  background-color: #fcf8e3;
  border-color: #c09853;
}
.control-group.error > label,
.control-group.error .help-block,
.control-group.error .help-inline {
  color: #b94a48;
}
.control-group.error input,
.control-group.error select,
.control-group.error textarea {
  color: #b94a48;
  border-color: #b94a48;
}
.control-group.error input:focus,
.control-group.error select:focus,
.control-group.error textarea:focus {
  border-color: #953b39;
  -webkit-box-shadow: 0 0 6px #d59392;
  -moz-box-shadow: 0 0 6px #d59392;
  box-shadow: 0 0 6px #d59392;
}
.control-group.error .input-prepend .add-on,
.control-group.error .input-append .add-on {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #b94a48;
}
.control-group.success > label,
.control-group.success .help-block,
.control-group.success .help-inline {
  color: #468847;
}
.control-group.success input,
.control-group.success select,
.control-group.success textarea {
  color: #468847;
  border-color: #468847;
}
.control-group.success input:focus,
.control-group.success select:focus,
.control-group.success textarea:focus {
  border-color: #356635;
  -webkit-box-shadow: 0 0 6px #7aba7b;
  -moz-box-shadow: 0 0 6px #7aba7b;
  box-shadow: 0 0 6px #7aba7b;
}
.control-group.success .input-prepend .add-on,
.control-group.success .input-append .add-on {
  color: #468847;
  background-color: #dff0d8;
  border-color: #468847;
}
input:focus:required:invalid,
textarea:focus:required:invalid,
select:focus:required:invalid {
  color: #b94a48;
  border-color: #ee5f5b;
}
input:focus:required:invalid:focus,
textarea:focus:required:invalid:focus,
select:focus:required:invalid:focus {
  border-color: #e9322d;
  -webkit-box-shadow: 0 0 6px #f8b9b7;
  -moz-box-shadow: 0 0 6px #f8b9b7;
  box-shadow: 0 0 6px #f8b9b7;
}
.form-actions {
  padding: 17px 20px 18px;
  margin-top: 18px;
  margin-bottom: 18px;
  background-color: #f5f5f5;
  border-top: 1px solid #ddd;
}
.uneditable-input {
  display: block;
  background-color: #ffffff;
  border-color: #eee;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.025);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.025);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.025);
  cursor: not-allowed;
}
:-moz-placeholder {
  color: #999999;
}
::-webkit-input-placeholder {
  color: #999999;
}
.help-block {
  margin-top: 5px;
  margin-bottom: 0;
  color: #999999;
}
.help-inline {
  display: inline-block;
  *display: inline;
  /* IE7 inline-block hack */

  *zoom: 1;
  margin-bottom: 9px;
  vertical-align: middle;
  padding-left: 5px;
}
.input-prepend,
.input-append {
  margin-bottom: 5px;
  *zoom: 1;
  zoom: 1;
}
.input-prepend:before,
.input-append:before,
.input-prepend:after,
.input-append:after {
  display: table;
  content: "";
}
.input-prepend:after,
.input-append:after {
  clear: both;
}
.input-prepend input,
.input-append input,
.input-prepend .uneditable-input,
.input-append .uneditable-input {
  -webkit-border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
}
.input-prepend input:focus,
.input-append input:focus,
.input-prepend .uneditable-input:focus,
.input-append .uneditable-input:focus {
  position: relative;
  z-index: 2;
}
.input-prepend .uneditable-input,
.input-append .uneditable-input {
  border-left-color: #ccc;
}
.input-prepend .add-on,
.input-append .add-on {
  float: left;
  display: block;
  width: auto;
  min-width: 16px;
  height: 18px;
  margin-right: -1px;
  padding: 4px 5px;
  font-weight: normal;
  line-height: 18px;
  color: #999999;
  text-align: center;
  text-shadow: 0 1px 0 #ffffff;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  -webkit-border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
}
.input-prepend .active,
.input-append .active {
  background-color: #a9dba9;
  border-color: #46a546;
}
.input-prepend .add-on {
  *margin-top: 1px;
  /* IE6-7 */

}
.input-append input,
.input-append .uneditable-input {
  float: left;
  -webkit-border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
}
.input-append .uneditable-input {
  border-right-color: #ccc;
}
.input-append .add-on {
  margin-right: 0;
  margin-left: -1px;
  -webkit-border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
}
.input-append input:first-child {
  *margin-left: -160px;
}
.input-append input:first-child + .add-on {
  *margin-left: -21px;
}
.search-query {
  padding-left: 14px;
  padding-right: 14px;
  margin-bottom: 0;
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  border-radius: 14px;
}
.form-search input,
.form-inline input,
.form-horizontal input,
.form-search textarea,
.form-inline textarea,
.form-horizontal textarea,
.form-search select,
.form-inline select,
.form-horizontal select,
.form-search .help-inline,
.form-inline .help-inline,
.form-horizontal .help-inline,
.form-search .uneditable-input,
.form-inline .uneditable-input,
.form-horizontal .uneditable-input {
  display: inline-block;
  margin-bottom: 0;
}
.form-search label,
.form-inline label,
.form-search .input-append,
.form-inline .input-append,
.form-search .input-prepend,
.form-inline .input-prepend {
  display: inline-block;
}
.form-search .input-append .add-on,
.form-inline .input-prepend .add-on,
.form-search .input-append .add-on,
.form-inline .input-prepend .add-on {
  vertical-align: middle;
}
.control-group {
  margin-bottom: 9px;
}
.form-horizontal legend + .control-group {
  margin-top: 18px;
  -webkit-margin-top-collapse: separate;
}
.form-horizontal .control-group {
  margin-bottom: 18px;
  *zoom: 1;
  zoom: 1;
}
.form-horizontal .control-group:before,
.form-horizontal .control-group:after {
  display: table;
  content: "";
}
.form-horizontal .control-group:after {
  clear: both;
}
.form-horizontal .control-group > label {
  float: left;
  width: 140px;
  padding-top: 5px;
  text-align: right;
}
.form-horizontal .controls {
  margin-left: 160px;
}
.form-horizontal .form-actions {
  padding-left: 160px;
}
table {
  max-width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}
.table {
  width: 100%;
  margin-bottom: 18px;
}
.table th,
.table td {
  padding: 8px;
  line-height: 18px;
  text-align: left;
  border-top: 1px solid #ddd;
}
.table th {
  font-weight: bold;
  vertical-align: bottom;
}
.table td {
  vertical-align: top;
}
.table thead:first-child tr th,
.table thead:first-child tr td {
  border-top: 0;
}
.table tbody + tbody {
  border-top: 2px solid #ddd;
}
.table-condensed th,
.table-condensed td {
  padding: 4px 5px;
}
.table-bordered {
  border: 1px solid #ddd;
  border-collapse: separate;
  *border-collapse: collapsed;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.table-bordered th + th,
.table-bordered td + td,
.table-bordered th + td,
.table-bordered td + th {
  border-left: 1px solid #ddd;
}
.table-bordered thead:first-child tr:first-child th,
.table-bordered tbody:first-child tr:first-child th,
.table-bordered tbody:first-child tr:first-child td {
  border-top: 0;
}
.table-bordered thead:first-child tr:first-child th:first-child,
.table-bordered tbody:first-child tr:first-child td:first-child {
  -webkit-border-radius: 4px 0 0 0;
  -moz-border-radius: 4px 0 0 0;
  border-radius: 4px 0 0 0;
}
.table-bordered thead:first-child tr:first-child th:last-child,
.table-bordered tbody:first-child tr:first-child td:last-child {
  -webkit-border-radius: 0 4px 0 0;
  -moz-border-radius: 0 4px 0 0;
  border-radius: 0 4px 0 0;
}
.table-bordered thead:last-child tr:last-child th:first-child,
.table-bordered tbody:last-child tr:last-child td:first-child {
  -webkit-border-radius: 0 0 0 4px;
  -moz-border-radius: 0 0 0 4px;
  border-radius: 0 0 0 4px;
}
.table-bordered thead:last-child tr:last-child th:last-child,
.table-bordered tbody:last-child tr:last-child td:last-child {
  -webkit-border-radius: 0 0 4px 0;
  -moz-border-radius: 0 0 4px 0;
  border-radius: 0 0 4px 0;
}
.table-striped tbody tr:nth-child(odd) td,
.table-striped tbody tr:nth-child(odd) th {
  background-color: #f9f9f9;
}
table .span1 {
  float: none;
  width: 44px;
  margin-left: 0;
}
table .span2 {
  float: none;
  width: 124px;
  margin-left: 0;
}
table .span3 {
  float: none;
  width: 204px;
  margin-left: 0;
}
table .span4 {
  float: none;
  width: 284px;
  margin-left: 0;
}
table .span5 {
  float: none;
  width: 364px;
  margin-left: 0;
}
table .span6 {
  float: none;
  width: 444px;
  margin-left: 0;
}
table .span7 {
  float: none;
  width: 524px;
  margin-left: 0;
}
table .span8 {
  float: none;
  width: 604px;
  margin-left: 0;
}
table .span9 {
  float: none;
  width: 684px;
  margin-left: 0;
}
table .span10 {
  float: none;
  width: 764px;
  margin-left: 0;
}
table .span11 {
  float: none;
  width: 844px;
  margin-left: 0;
}
table .span12 {
  float: none;
  width: 924px;
  margin-left: 0;
}
.label {
  padding: 1px 3px 2px;
  font-size: 9.75px;
  font-weight: bold;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #999999;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.label-important {
  background-color: #b94a48;
}
.label-warning {
  background-color: #f89406;
}
.label-success {
  background-color: #468847;
}
.label-info {
  background-color: #3a87ad;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]) {
  display: none;
}
[hidden] {
  display: none;
}
html {
  font-size: 100%;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
body {
  margin: 0;
  font-size: 13px;
  line-height: 1.231;
}
body,
button,
input,
select,
textarea {
  font-family: sans-serif;
  color: #222;
}
::-moz-selection {
  background: #31394c;
  color: #fff;
  text-shadow: none;
}
::selection {
  background: #31394c;
  color: #fff;
  text-shadow: none;
}
a {
  color: #00e;
}
a:visited {
  color: #551a8b;
}
a:hover {
  color: #06e;
}
a:focus {
  outline: thin dotted;
}
a:hover,
a:active {
  outline: 0px;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
blockquote {
  margin: 1em 40px;
}
dfn {
  font-style: italic;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
ins {
  background: #ff9;
  color: #000;
  text-decoration: none;
}
mark {
  background: #ff0;
  color: #000;
  font-style: italic;
  font-weight: bold;
}
pre,
code,
kbd,
samp {
  font-family: monospace, monospace;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}
q {
  quotes: none;
}
q:before,
q:after {
  content: "";
  content: none;
}
small {
  font-size: 85%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
ul,
ol {
  margin: 1em 0;
  padding: 0 0 0 40px;
}
dd {
  margin: 0 0 0 40px;
}
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 0;
}
form {
  margin: 0;
}
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
label {
  cursor: pointer;
}
legend {
  border: 0;
  *margin-left: -7px;
  padding: 0;
}
button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}
button,
input {
  line-height: normal;
  *overflow: visible;
}
table button,
table input {
  *overflow: auto;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}
input:invalid,
textarea:invalid {
  background-color: #f0dddd;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td {
  vertical-align: top;
}
.ir {
  display: block;
  border: 0;
  text-indent: -999em;
  overflow: hidden;
  background-color: transparent;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
}
.ir br {
  display: none;
}
.hidden {
  display: none !important;
  visibility: hidden;
}
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
.invisible {
  visibility: hidden;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  zoom: 1;
}
/* ==|== primary styles =====================================================
   Author: Roger Sullivan
   ========================================================================== */
body {
  font-family: Helvetica, sans-serif;
  color: #57585b;
  background-color: #fff;
}
#bgimg {
  display: none;
}
h1,
h2,
h3,
h4 {
  font-family: "nimbus-sans-condensed", Helvetica, sans-serif;
  font-weight: 600;
}
h3,
h4,
h5 {
  font-family: "nimbus-sans", Helvatica, sans-serif;
  font-weight: 400;
}
h1 {
  color: #31394c;
  text-transform: uppercase;
  font-size: 28px;
}
h1.title {
  position: absolute;
  left: 430px;
  top: 7px;
  margin: 0;
  padding: 0;
  width: 510;
}
h1.title_content {
  position: absolute;
  left: 330px;
  top: 7px;
  margin: 0;
  padding: 0;
  width: 610;
}
h1.course_title {
  font-size: 23px;
}
h2 {
  color: #31394c;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 24px;
  margin: 15px 0 5px 0;
}
h3 {
  font-size: 14px;
  line-height: 16px;
}
h4 {
  font-size: 14px;
  line-height: 18px;
  margin: 15px 0 0 0;
}
h5 {
  font-size: 13px;
  line-height: 17px;
  margin: 0;
}
p {
  margin-top: 5px;
}
a,
a:visited {
  color: #0668b3;
}
a:hover,
a:active {
  color: #31394c;
  text-decoration: none;
}
#main {
  position: relative;
}
hr {
  height: 5px;
  border: 0px solid #fff;
  margin: 0;
}
hr.hr_col_1 {
  height: 3px;
  background: url(../img/elements/hr_3pt.png) repeat-x transparent;
}
hr.hr_col_2 {
  background: url(../img/elements/hr_5pt.png) repeat-x transparent;
}
hr.hr_col_content_2 {
  height: 3px;
  background: url(../img/elements/hr_3pt.png) repeat-x transparent;
}
hr.hr_col_3 {
  background: url(../img/elements/hr_5pt.png) repeat-x transparent;
}
hr.hr_col_sidenav_3 {
  height: 3px;
  background: url(../img/elements/hr_3pt.png) repeat-x transparent;
}
hr.hr_col_4 {
  background: url(../img/elements/hr_5pt.png) repeat-x transparent;
}
hr.hr_col_6 {
  background: url(../img/elements/hr_5pt.png) repeat-x transparent;
}
hr.hr_col_8_3pt {
  height: 3px;
  background: url(../img/elements/hr_3pt.png) repeat-x transparent;
}
hr.hr_col_8_5pt {
  height: 5px;
  background: url(../img/elements/hr_5pt.png) repeat-x transparent;
}
table {
  margin-bottom: 20px;
}
table thead {
  width: 620px;
  font-size: 20px;
  color: #0668b3;
  text-transform: uppercase;
  font-weight: 600;
  background: url(../img/elements/hr_3pt.png) left bottom repeat-x transparent;
  font-family: "nimbus-sans-condensed", Helvetica, sans-serif;
}
table tbody {
  width: 620px;
}
table tbody tr {
  width: 620px;
}
table tbody tr td {
  padding: 5px 20px 5px 0;
}
table tbody tr td a {
  text-decoration: none;
}
.breadcrumbs ul {
  margin: -10px 0 0 0;
  padding: 0;
  list-style: none;
}
.breadcrumbs ul li {
  display: inline;
}
.breadcrumbs ul li a {
  text-decoration: none;
}
.error {
  color: #31394c;
}
.badge_wrapper {
  width: 100%;
  height: 100px;
}
.badge_wrapper .join_badge a {
  background: url(../img/elements/banner_sidenav_jointoday.png) center center no-repeat transparent;
  display: block;
  width: 100px;
  height: 100px;
  margin: auto;
}
.content_nav {
  text-align: right;
}
.content_nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.content_nav ul lh {
  color: #0668b3;
  text-transform: uppercase;
  padding-bottom: 2px;
}
.content_nav ul li {
  margin-bottom: 3px;
}
.content_nav ul li a {
  text-decoration: none;
  text-transform: uppercase;
  padding: 2px 0 2px 5px;
}
.content_nav ul li.active a {
  background: url(../img/elements/hr_2pt.png) right bottom repeat-x transparent;
}
.content_nav ul li p {
  margin: 0;
  padding: 0;
}
.content_nav.courses ul {
  padding: 0 0 20px 0;
}
.content_nav.courses ul lh {
  background: url(../img/elements/hr_2pt.png) left bottom repeat-x transparent;
}
.content_nav.courses ul li {
  padding: 7px 0;
}
.content_nav.courses ul li.course_sidebar {
  width: 125px;
  float: right;
}
.content_nav.contact_sidebar h2 {
  color: #0668b3;
  font-size: 16px;
  line-height: 22px;
}
.content_nav.contact_sidebar p {
  font-size: 16px;
  line-height: 22px;
  margin: 0;
}
.content_nav.contact_sidebar .location {
  margin-bottom: 27px;
}
.content_nav.contact_sidebar .location h2 {
  background: url(../img/elements/contact_arrow.png) left center no-repeat transparent;
  padding-left: 60px;
  margin-bottom: 0;
}
.content_nav.contact_sidebar .directions {
  margin-top: 30px;
}
.content_nav.contact_sidebar .directions h2 {
  margin: 0;
}
.content_nav.contact_sidebar .directions p {
  font-size: 14px;
  line-height: 18px;
  margin: 0;
}
.header_top_bg {
  height: 34px;
  background-color: #31394c;
}
.header_top {
  padding: 2px 0 0 0;
  float: right;
}
.header_top ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.header_top ul li {
  float: left;
  margin: 0 0 0 20px;
}
.header_top ul li a {
  font-size: 12px;
  font-weight: bold;
  font-family: Helvetica, sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  display: block;
  height: 30px;
  line-height: 30px;
  padding: 0 0 0 35px;
  background: url(../img/elements/topnav_sprites.png) left top no-repeat transparent;
}
.header_top ul li a:hover,
.header_top ul li a:active {
  color: #e6c873;
  background-position: left -84px;
}
.header_top ul li a.two {
  padding: 0 0 0 30px;
  background-position: left -28px;
}
.header_top ul li a.two:hover,
.header_top ul li a.two:active {
  background-position: left -112px;
}
.header_top ul li a.three {
  margin: 0 0 0 15px;
  background-position: left -56px;
}
.header_top ul li a.three:hover,
.header_top ul li a.three:active {
  background-position: left -140px;
}
.header_top ul li a.four {
  margin: 0;
  background-position: left -168px;
}
.header_top ul li a.four:hover,
.header_top ul li a.four:active {
  background-position: left -196px;
}
.nav_main_bg {
  background-color: #fff;
}
.irem_logo {
  background: url(../img/elements/irem_logo.png) center left no-repeat transparent;
  margin: auto;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 120px;
  height: 88px;
}
.irem_logo a {
  display: block;
  width: 120px;
  height: 88px;
}
.nav_buttons ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.nav_buttons ul li {
  float: left;
  margin: 20px 0 0 35px;
  padding: 0;
}
.nav_buttons ul li a {
  float: left;
  clear: both;
  font-size: 14px;
  font-weight: bold;
  font-family: Helvetica, sans-serif;
  text-decoration: none;
  color: #57585b;
  display: block;
  height: 20px;
  padding: 10px 0 0 0;
}
.nav_buttons ul li a:hover,
.nav_buttons ul li a:active {
  color: #0668b3;
}
.nav_buttons ul li a.icon {
  float: left;
  clear: both;
  display: block;
  width: 100%;
  height: 28px;
  text-indent: -5px;
  overflow: hidden;
  padding: 0;
  background: url(../img/elements/mainnav_sprites.png) top center no-repeat transparent;
}
.nav_buttons ul li a.icon.icon_1 {
  background-position: 50% 0px;
}
.nav_buttons ul li a.icon.icon_2 {
  background-position: 50% -29px;
}
.nav_buttons ul li a.icon.icon_11 {
  background-position: 50% -56px;
}
.nav_buttons ul li a.icon.icon_12 {
  background-position: 50% -84px;
}
.nav_buttons ul li a.icon.icon_16 {
  background-position: 50% -112px;
}
.nav_buttons ul li a.icon.icon_19 {
  background-position: 50% -140px;
}
.nav_buttons ul li a.icon.icon_24 {
  background-position: 50% -169px;
}
.nav_buttons ul li a.icon.icon_25 {
  background-position: 50% -196px;
}
.nav_buttons ul li.active a {
  color: #0668b3;
}
.nav_buttons ul li.active a.icon.icon_1 {
  background-position: 50% -224px;
}
.nav_buttons ul li.active a.icon.icon_2 {
  background-position: 50% -253px;
}
.nav_buttons ul li.active a.icon.icon_11 {
  background-position: 50% -280px;
}
.nav_buttons ul li.active a.icon.icon_12 {
  background-position: 50% -308px;
}
.nav_buttons ul li.active a.icon.icon_16 {
  background-position: 50% -336px;
}
.nav_buttons ul li.active a.icon.icon_19 {
  background-position: 50% -364px;
}
.nav_buttons ul li.active a.icon.icon_24 {
  background-position: 50% -393px;
}
.nav_buttons ul li.active a.icon.icon_25 {
  background-position: 50% -420px;
}
.home_banner {
  background: url(../img/elements/testimonial_banner.png) no-repeat transparent;
  height: 400px;
  margin: 20px 10px;
  color: #fff;
}
.home_banner .home_banner_left {
  height: 380px;
  background: url(../img/elements/testimonial_quote_open.png) 13px 25px no-repeat transparent;
}
.home_banner .home_banner_left ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.home_banner p {
  font-size: 22px;
  line-height: 33px;
  padding: 30px 45px 0 50px;
  margin: 0;
  background: url(../img/elements/testimonial_quote_close.png) 340px bottom no-repeat transparent;
}
.home_banner p.author {
  font-size: 17px;
  padding: 15px 0 0 50px;
  line-height: 17px;
  background: none;
  font-weight: bold;
}
.home_banner p.company {
  font-size: 16px;
  font-style: italic;
  padding: 2px 0 0 50px;
  line-height: 16px;
  background: none;
}
.home_banner p a {
  color: #ffffff;
}
.home_banner p a:hover {
  text-decoration: none;
}
.home_banner .home_banner_right {
  margin-top: 26px;
  width: 560px;
  float: left;
}
.slideshow {
  overflow: hidden;
}
.slideshow li {
  list-style-type: none;
}
.slideshow img {
  margin-left: -1px;
  display: block;
}
.content_banner {
  background: url(../img/elements/content_banner.png) no-repeat transparent;
  height: 400px;
  margin: 20px 10px;
  color: #fff;
}
.content_banner .content_banner_left {
  height: 257px;
}
.content_banner .content_banner_left .content_banner_left_inner {
  width: 200px;
  margin: 15px 0 0 30px;
}
.content_banner .content_banner_left .content_banner_left_inner p {
  font-size: 13px;
  line-height: 17px;
  margin: 0;
}
.content_banner .content_banner_left .content_banner_left_inner ul {
  list-style: none;
  margin: 0 0 5px 0;
  padding: 0;
}
.content_banner .content_banner_left .content_banner_left_inner ul li {
  margin: 0;
  background: url(../img/elements/hr_2pt.png) left bottom repeat-x transparent;
  font-size: 12px;
  line-height: 16px;
  padding: 2px 0 2px 0;
}
.content_banner .content_banner_left .content_banner_left_inner ul li a {
  color: #ffffff;
  text-decoration: none;
  padding: 0 0 0 10px;
}
.content_banner .content_banner_left .content_banner_left_inner ul li a:hover {
  color: #e6c873;
}
.content_banner .content_banner_left .content_banner_left_inner ul li.active a {
  color: #e6c873;
}
.content_banner .content_banner_left .content_banner_left_inner ul li.active ul li a {
  color: #ffffff;
}
.content_banner .content_banner_left .content_banner_left_inner ul li.active ul li.active a {
  color: #e6c873;
}
.content_banner .content_banner_left .content_banner_left_inner ul li ul {
  background: url(../img/elements/hr_2pt.png) left top repeat-x transparent;
  margin: 0;
  padding-top: 3px;
}
.content_banner .content_banner_left .content_banner_left_inner ul li ul li {
  background: none;
  line-height: 14px;
}
.content_banner .content_banner_left .content_banner_left_inner ul li ul li a {
  color: #ffffff;
  padding: 0 0 0 20px;
}
.content_banner .content_banner_left .content_banner_left_inner ul li ul li a:hover {
  color: #e6c873;
}
.content_banner .content_banner_right {
  margin-top: 26px;
  padding: 60px 40px 0 20px;
  width: 580px;
  float: left;
}
.content_banner .content_banner_right.newsworthy_banner a {
  font-weight: normal;
  text-transform: none;
}
.content_banner .content_banner_right .calendar_details {
  margin: 15px 0;
}
.content_banner .content_banner_right .calendar_details p {
  margin: 0;
  padding: 0;
}
.content_banner .content_banner_right .calendar_details p.date a {
  font-weight: bold;
  text-decoration: none;
}
.content_banner .content_banner_right strong {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
  line-height: 2px;
  padding: 0;
}
.content_banner .content_banner_right p {
  font-size: 16px;
  line-height: 27px;
  padding: 0 0 15px 0;
  margin: 0;
}
.content_banner .content_banner_right p strong {
  text-transform: uppercase;
  font-weight: bold;
}
.content_banner .content_banner_right a {
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: underline;
  color: #ffffff;
}
.content_banner .content_banner_right ul {
  color: #ffffff;
  margin: 0;
  padding: 0 0 0 20px;
}
.content_banner .content_banner_right ul li {
  font-size: 16px;
  line-height: 20px;
  padding: 7px 0;
}
.content_banner .content_banner_right.education_link a {
  text-transform: none;
  font-weight: normal;
}
.content_banner .content_banner_right.course_description {
  position: relative;
}
.content_banner .content_banner_right.course_description .register_link {
  padding: 10px 15px;
  font-weight: lighter;
  background: #4db787;
  color: #ffffff;
  border: 1px solid #3c956d;
  position: absolute;
  top: 10px;
  right: 10px;
  text-decoration: none;
  font-size: 22px;
  text-transform: capitalize;
  cursor: pointer;
  z-index: 101;
}
.content_banner .content_banner_right.course_description p {
  font-size: 14px;
  line-height: 17px;
}
.content_banner .content_banner_right.course_description p strong {
  font-size: 17px;
  line-height: 20px;
}
.content_banner .content_banner_right.course_description p.quantity {
  padding: 7px 0 10px 40px;
}
.content_banner_right.course_description .registration_container {
  display: none;
  width: 563px;
  height: auto;
  min-height: 260px;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #4db787;
  z-index: 100;
  padding: 50px 40px 60px 80px;
}
.footer_main_bg {
  height: 183px;
  background-color: #31394c;
  margin-top: 20px;
  border-top: 5px solid #0668b3;
}
.footer_badge_wrapper {
  width: 100%;
  height: 102px;
}
.footer_badge_wrapper .footer_badge a {
  background: url(../img/elements/CPM_badge.png) no-repeat transparent;
  display: block;
  width: 102px;
  height: 102px;
  margin: 20px 0 0 20px;
}
.footer_nav .copyright {
  margin-top: 10px;
}
.footer_nav .copyright a,
.footer_nav .copyright a:visited {
  color: #ffffff;
}
.footer_nav .copyright a:hover,
.footer_nav .copyright a:visited:hover,
.footer_nav .copyright a:active,
.footer_nav .copyright a:visited:active {
  text-decoration: none;
}
.footer_nav ul {
  list-style: none;
  padding: 0;
  float: left;
  margin: 1px 0 0 10px;
}
.footer_nav ul li {
  clear: both;
  font-size: 11px;
  font-weight: bold;
  text-transform: uppercase;
}
.footer_nav ul li a {
  font-size: 10px;
  line-height: 12px;
  font-family: Helvetica, sans-serif;
  text-decoration: none;
  color: #fff;
  display: block;
  height: 11px;
  padding-top: 10px;
  color: #e6c873;
}
.footer_nav ul li a:hover,
.footer_nav ul li a:active {
  color: #ffffff;
}
.footer_nav ul li ul {
  margin: 0;
}
.footer_nav ul li ul li {
  font-weight: normal;
  text-transform: none;
  margin: 0;
}
.footer_nav ul li ul li a {
  color: #ffffff;
  padding-top: 0;
}
.footer_nav ul li ul li a:hover,
.footer_nav ul li ul li a:active {
  color: #e6c873;
}
.footer_map {
  background: url(../img/elements/footer_map_V2.png) right no-repeat transparent;
  width: 247px;
  height: 183px;
  position: relative;
}
.footer_contact {
  background: url(../img/elements/footer_map_infocircle.png) 18px 40px no-repeat transparent;
  width: 247px;
  height: 183px;
  position: absolute;
}
.contact_text {
  margin: 46px 0 0 69px;
  width: 100px;
  height: 100px;
  overflow: hidden;
}
.contact_text p {
  margin: 0;
  font-size: 9px;
  line-height: 10px;
}
.contact_text p.title {
  text-transform: uppercase;
  color: #0668b3;
  font-weight: bold;
  font-size: 9px;
}
.pullquote {
  background: url(../img/elements/pullquote_open.png) 5px 20px no-repeat transparent;
}
.pullquote .pullquote_content {
  padding: 10px 20px 20px 50px;
}
.pullquote .pullquote_content .quote {
  background: url(../img/elements/pullquote_close.png) right bottom no-repeat transparent;
  padding-right: 20px;
}
.pullquote .pullquote_content .quote p {
  color: #31394c;
  font-size: 22px;
  line-height: 34px;
  padding-right: 20px;
}
.pullquote .pullquote_content .quote p a {
  color: #31394c;
}
.pullquote .pullquote_content .quote p a:hover {
  color: #0668b3;
  text-decoration: none;
}
.pullquote .pullquote_content .author {
  float: right;
  text-align: right;
  padding-right: 0;
  margin-bottom: 20px;
}
.pullquote .pullquote_content .author p {
  font-size: 12px;
  line-height: 15px;
  margin: 0;
  padding: 0;
}
.content {
  margin-top: 20px;
  float: left;
}
.content h1 {
  margin-bottom: 0;
}
.content h2 {
  padding: 0;
  margin: 0;
}
.content p {
  margin: 0 0 20px 0;
}
.content ul {
  margin: 0 0 15px 0;
  padding: 0 0 0 15px;
}
.content ul li {
  padding: 2px 0;
}
.connect_wrapper {
  width: 100%;
  margin-top: 5px;
  float: right;
}
.connect_wrapper .connect {
  background: url(../img/elements/contact_connectwithIREM.png) no-repeat transparent;
  width: 98px;
  height: 15px;
  float: left;
  margin-right: 5px;
}
.connect_wrapper .facebook a {
  background: url(../img/elements/facebook_sprite_white.png) no-repeat transparent;
  display: block;
  width: 16px;
  height: 16px;
  float: left;
  margin-right: 5px;
}
.connect_wrapper .linkedin a {
  background: url(../img/elements/linkedin_sprite_white.png) no-repeat transparent;
  display: block;
  width: 16px;
  height: 16px;
  float: left;
}
.connect_wrapper.contact_connect {
  float: right;
}
.connect_wrapper.contact_connect .facebook a {
  background: url(../img/elements/facebook_sprite_blue.png) no-repeat transparent;
}
.connect_wrapper.contact_connect .linkedin a {
  background: url(../img/elements/linkedin_sprite_blue.png) no-repeat transparent;
}
.footer_connect {
  margin-top: 20px;
}
.copyright {
  float: right;
  color: white;
  font-size: 8px;
  text-decoration: none;
}
.home_content {
  margin: -2px 10px 13px;
}
.home_content h1 {
  margin-top: 10px;
}
.home_content p {
  font-size: 17px;
  line-height: 27px;
}
.home_column h2 {
  background: url(../img/elements/home_column_sprites.png) right 2px no-repeat transparent;
}
.home_column h2 a {
  color: #31394c;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 24px;
  text-decoration: none;
  display: block;
  background: url(../img/elements/home_column_sprites.png) right -87px no-repeat transparent;
}
.home_column h2.community {
  width: 280px;
}
.home_column h2.community a {
  background: url(../img/elements/home_community_sprites.png) right center no-repeat transparent;
}
.home_column h2.education a {
  background: url(../img/elements/home_education_sprites.png) right center no-repeat transparent;
}
.home_column h2.career a {
  background: url(../img/elements/home_career_sprites.png) right center no-repeat transparent;
}
.home_column h2.calendar a {
  background: url(../img/elements/home_calendar_sprites.png) right center no-repeat transparent;
}
.home_column h3 {
  color: #31394c;
  font-size: 12px;
  font-weight: bold;
  width: 100%;
}
.home_column p {
  font-size: 12px;
  line-height: 17px;
}
.home_column a {
  color: #31394c;
  font-size: 12px;
  text-transform: lowercase;
}
.home_column img {
  padding: 0 0 10px 0;
}
.home_column_1 h2 {
  padding-left: 10px;
}
.home_column_1 img {
  padding: 0 10px 10px 10px;
}
.home_column_1 p {
  padding-right: 15px;
  padding-left: 10px;
}
.home_column_1 .photo_title {
  width: 138px;
}
.home_column_1 .photo_title p {
  margin-top: 0;
  padding: 0;
}
.home_column_1 h3 {
  font-family: Helvetica, sans-serif;
  padding-left: 10px;
  margin-bottom: 0;
}
.home_column_3 a {
  text-transform: none;
}
.home_column_4 .calendar_details {
  padding-bottom: 20px;
}
.home_column_4 .calendar_details p {
  line-height: 17px;
  margin: 0;
}
.home_column_4 .calendar_details p.date a {
  font-weight: bold;
  text-decoration: none;
  text-transform: capitalize;
}
.home_resources h2 {
  background: none;
  padding: 0 0 16px 0;
  margin: 0;
}
.resources_link {
  margin-top: 18px;
}
.community_block h2 {
  margin-top: 20px;
}
.community_block h2 a {
  color: #57585b;
  text-decoration: none;
}
.community_block img {
  margin-bottom: 20px;
}
ul.calendar {
  list-style: none;
  margin: 0;
  padding: 0;
}
ul.calendar li {
  padding: 0 0 10px 0;
  margin: 0 0 10px 0;
  background: url(../img/elements/hr_3pt.png) left bottom repeat-x transparent;
}
ul.calendar li h2 {
  color: #0668b3;
  font-size: 20px;
  line-height: 24px;
  margin: 0 0 5px 0;
}
ul.calendar li h2 a {
  text-decoration: none;
}
ul.calendar li h3 {
  color: #57585b;
  margin: 0 0 5px 0;
}
ul.calendar li p {
  margin: 0;
}
ul.calendar li p a {
  text-decoration: none;
}
ul.calendar li p a:hover,
ul.calendar li p a:active {
  color: #57585b;
  text-decoration: underline;
}
ul.calendar li.detail_back {
  background: none;
}
ul.calendar li.detail_back a {
  color: #57585b;
}
ul.calendar li.detail_back a:hover,
ul.calendar li.detail_back a:active {
  text-decoration: none;
}
.type-24 .content_banner .content_banner_right form fieldset {
  width: 560px;
}
.type-24 .content_banner .content_banner_right form .checkbox,
.type-24 .content_banner .content_banner_right form .radio {
  padding: 0 2px 0 0;
  display: block;
  float: left;
}
.type-24 .content_banner .content_banner_right form .radio {
  margin: 4px 5px 0 0;
}
.type-24 .content_banner .content_banner_right form p {
  padding: 2px 0;
}
.type-24 .content_banner .content_banner_right form p.radio_label {
  padding-left: 20px;
}
.type-24 .content_banner .content_banner_right form .register_event_submit {
  position: absolute;
  bottom: 10px;
  right: 10px;
  color: #ffffff;
  font-size: 22px;
  font-weight: lighter;
  padding: 10px 15px;
  background-color: #31394c;
  border: 1px solid #59688a;
}
.type-24 .event_reg_fees {
  width: 275px;
}
.type-24 .guests_controls {
  width: 275px;
}
.type-24 .guests_controls #add_guests_text {
  margin-bottom: 0;
  display: block;
}
#attend_quantity_label_multiple {
  display: none;
}
.education p {
  font-size: 12px;
}
.education a {
  text-decoration: none;
  color: #0668b3;
}
.education ul {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-bottom: 10px;
}
.education ul li {
  font-size: 12px;
  line-height: 6px;
}
.education .hotel_name {
  font-weight: bold;
  color: #57585b;
  padding: 15px 0 5px 0;
}
.education .hotel_email {
  color: #0668b3;
}
.type-6 form p {
  padding-bottom: 0;
}
.type-6 form .controls p {
  padding-left: 20px;
}
.type-6 form .controls .checkbox {
  margin: -5px 0 0 0;
  padding: 5px 0 0 0;
  height: 13px;
}
.js #resumes {
  display: none;
}
.legislative_links {
  margin-bottom: 20px;
}
.legislative_links ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.legislative_links ul li {
  margin: 0;
  padding: 0 0 0 20px;
  text-indent: -20px;
}
.legislative_links ul li a {
  color: #0668b3;
  text-decoration: none;
  line-height: 19px;
  font-size: 12px;
}
.legislative_links ul li a:hover {
  color: #31394c;
  text-decoration: underline;
}
.label_style {
  color: #0668b3;
  text-transform: uppercase;
  font-size: 16px;
}
.form_text {
  display: block;
  padding-left: 19px;
  padding-bottom: 10px;
}
.form_text_list {
  display: block;
  padding-left: 40px;
  line-height: 21px;
  padding-bottom: 10px;
}
.checkbox,
.radio {
  width: 19px;
  height: 22px;
  padding: 0 2px 0 0;
  background: url(../img/elements/checkboxes_sprite_V2.png) no-repeat;
  display: block;
  clear: left;
  float: left;
  margin-top: -2px;
  margin-left: -2px;
}
.radio {
  background: url(../img/elements/checkboxes_sprite_V2.png) no-repeat;
}
.js input[type="checkbox"] {
  display: none;
}
.js .type-24 input[type="checkbox"] {
  display: block;
  margin: 3px 5px 0 0;
}
.submit {
  background-color: #4db787;
  font-weight: lighter;
  color: #ffffff;
  border: none;
  text-decoration: none;
  font-size: 22px;
  text-transform: capitalize;
  padding: 5px 10px;
}
.required {
  color: red;
}
.map a {
  display: block;
  float: right;
  margin: 20px 0 0 0;
  padding: 0;
  height: 496px;
  width: 560px;
  background: url(../img/elements/Contact_Map_Background.png) right center no-repeat transparent;
}
.contact_sidebar .email_us a {
  padding-left: 25px;
  text-decoration: none;
  background: url(../img/elements/email_icon.png) left center no-repeat transparent;
}
.contact_sidebar .email_us a:hover,
.contact_sidebar .email_us a.active {
  color: #0668b3;
  text-decoration: underline;
}
.anchor_nav {
  margin-bottom: 10px;
}
.anchor_nav a {
  color: #31394c;
  text-decoration: none;
  font-size: 12px;
}
.anchor_nav a:hover {
  text-decoration: underline;
}
.image_grid_wrapper {
  margin-bottom: 30px;
}
.image_grid_wrapper .image_grid_block {
  position: relative;
  margin-bottom: 30px;
}
.image_grid_wrapper .image_grid_block .image_grid_content {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 10px;
}
.image_grid_wrapper .image_grid_block .image_grid_content h4 {
  color: #31394c;
  font-weight: bold;
}
.image_grid_wrapper .image_grid_block .image_grid_content p {
  margin: 0;
}
.image_grid_wrapper .image_grid_block .image_grid_content a {
  color: #31394c;
  font-weight: bold;
  text-decoration: none;
}
.former_presidents h3 {
  margin: 0;
}
.former_presidents ul {
  list-style: none;
  margin: 5px 0 0 0;
  padding: 0;
}
.former_presidents ul li {
  margin: 0;
  padding: 0;
}
.friend_image {
  background-color: yellow;
  width: 140px;
  height: 126px;
}
.article_back {
  margin: -20px 0 30px 0;
}
.article_list ul {
  list-style-type: none;
  margin: 0 0 20px -18px;
  padding: 0 30px 0 0;
}
.article_list ul li {
  padding: 0 0 15px 0;
}
.article_list ul li a {
  text-decoration: none;
}
.article_list ul li a:hover {
  color: #57585b;
}
.paging {
  float: right;
  width: 100%;
  text-align: right;
}
.paging ul {
  margin: 0;
  padding: 0;
}
.paging ul li {
  display: inline;
  padding: 5px;
}
.paging ul li a.active {
  color: #555555;
}
.article_text p {
  padding-right: 30px;
}
#twitter_update_list {
  margin: 15px 0 40px 0;
}
#twitter_update_list li {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 27px;
}
.js #next_event,
.js #upcoming_events {
  display: none;
}
.fc_cbox #cboxClose span {
  color: #31394c;
}
.pay_now_link {
  padding: 10px 15px;
  font-weight: lighter;
  background: #4db787;
  color: #ffffff;
  text-decoration: none;
  font-size: 22px;
  text-transform: capitalize;
  float: right;
}
.page-177 .form-horizontal .control-group > label {
  width: 300px;
  margin-right: 10px;
}
/* ==|== end primary styles ======================================== */
@media print {
  header,
  .footer_nav,
  #backstretch {
    display: none !important;
  }
  body:before {
    content: "IREM Houston - http://iremhouston.org/  All Rights Reserved.";
  }
  * {
    background: transparent !important;
    color: black !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  @page  {
    margin: 0.5cm;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
.pull-right {
  float: right;
}
.pull-left {
  float: left;
}
.hide {
  display: none;
}
.show {
  display: block;
}
.invisible {
  visibility: hidden;
}
.full {
  width: 100%;
}
.no_text {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}
