/* December 18, 2013 */

.tweet{
  margin-bottom: 50px;
}

.tweet_list{
  list-style-type: none;
  padding: 0 !important;
}

.tweet_join{
  display: none;
}

.tweet .status-info a{
	display:none;
}

.tweet img{
	display: none;
}

.tweet li{
	list-style-type: none;
}

.tweet .status,
.tweet .status-info{
	padding-bottom: 0 !important; 
}

.content_nav.contact_sidebar .location{
  margin-bottom: -23px;
}

.connect_wrapper {
  width: 100%;
  margin-top: 5px;
  float: right;
}

.connect_wrapper .interior.social_media_icons{
  float: left;
  margin-left: -5px;
  margin-top: 1px;
  margin-bottom: 12px;
  clear: both;
}

.connect_wrapper.footer_connect{
  width: 100%;
  text-align: center;
}

.connect_wrapper.footer_connect .interior.social_media_icons{
  display: inline-block;
  margin-top: 4px;
  float: none !important;
}


.connect_wrapper .connect {
  background: url(../img/elements/contact_connectwithIREM.png) no-repeat transparent;
  width: 98px;
  height: 15px;
  float: right;
  margin-right: 5px;
}
.connect_wrapper .facebook a {
  background: url(../img/elements/contact_facebook_icon.png) no-repeat transparent;
  display: block;
  width: 25px;
  height: 23px;
  float: left;
  margin-left: 5px;
  margin-right: 0;
}

.connect_wrapper .twitter a {
  background: url(../img/elements/contact_twitter_icon.png) no-repeat transparent;
  display: block;
  width: 25px;
  height: 23px;
  float: left;
  margin-left: 5px;
  margin-right: 0;
}

.connect_wrapper .linkedin a {
  background: url(../img/elements/contact_linkedin_icon.png) no-repeat transparent;
  display: block;
  width: 25px;
  height: 23px;
  float: left;
  margin-left: 5px;
  margin-right: 0;
}

.connect_wrapper .youtube a {
  background: url(../img/elements/contact_youtube_icon.png) no-repeat transparent;
  display: block;
  width: 25px;
  height: 23px;
  float: left;
  margin-left: 5px;
  margin-right: 0;
}

.connect_wrapper .instagram a {
  background: url(../img/elements/contact_instagram_icon.png) no-repeat transparent;
  display: block;
  width: 25px;
  height: 23px;
  float: left;
  margin-left: 5px;
  margin-right: 0;
}
.connect_wrapper .social_media_icons{
  float: right;
}
.connect_wrapper .social_media_icons div{
  float: left;
}
.connect_wrapper.contact_connect .facebook a {
  background: url(../img/elements/contact_facebook_icon.png) no-repeat transparent;
}
.connect_wrapper.contact_connect .twitter a {
  background: url(../img/elements/contact_twitter_icon.png) no-repeat transparent;
}
.connect_wrapper.contact_connect .linkedin a {
  background: url(../img/elements/contact_linkedin_icon.png) no-repeat transparent;
}
.connect_wrapper.contact_connect .youtube a {
  background: url(../img/elements/contact_youtube_icon.png) no-repeat transparent;
}
.connect_wrapper.contact_connect .instagram a {
  background: url(../img/elements/contact_instagram_icon.png) no-repeat transparent;
}
.badge_wrapper{
  margin-top: 40px;
}
.email_us {
  clear: both;
  margin-top: 7px;
}
#friend_search form{
  margin: 20px 0;
  float:left;
}
#friend_search form label,
#friend_search form input{
  float:left;
}
#friend_search form label{
  margin-top: 5px;
  margin-right:15px;
}
#friend_search form input{
  width: 170px;
  border-radius: 0;
  border-color: #4db787;
}
#friend_search .bootstrap-select:not([class*=span]):not([class*=col-]):not([class*=form-control]):not(.input-group-btn){
  width: 190px;
}
#friend_search .btn-group > .btn:first-child {
  border-radius: 0;
  border-color: #4db787;
  background-image: none;
  background-color: white;
}
#friend_search .btn-group.open > .btn:first-child {
  background-image: none;
  background-color: white;
}
#friend_search .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, .dropdown-submenu:hover > a, .dropdown-submenu:focus > a{
  background-image:none;
  background-color:#4db787;
}
#friend_search .caret{
  border-top-color: #4db787;
}
#friend_search .btn-group:focus,
#friend_search .btn-group .btn:focus{
  outline: none !important;
}
.bootstrap-select{
  width: 190px;
}
.image_grid_wrapper .image_grid_block h4{
	margin-top: 0;
}
.image_grid_wrapper .image_grid_block{
	height: 152px;
	margin-bottom: 10px;
}
.image_grid_wrapper .image_grid_block .image_grid_content{
	top: 0;
}
.home_column_5{
	height: 225px !important;
	padding-top:33px;
}
.upcoming_news_detail a{
	display:inline;
}
#atedrop1{
	position:absolute !important;
	top: 10px;
	right: 135px;
	background-color: #4db787;
	border: 0;
	color: white!important;
	font-family: Helvetica, sans-serif !important;
	font-weight: lighter !important;
	font-size: 22px !important;
	-webkit-font-smoothing: subpixel-antialiased !important;
	padding: 9px 18px 8px 19px !important;
	text-shadow: none;
	line-height: 22px !important;
	z-index: 0;
}
.addthisevent_icon{
	display:none;
}
