<form action="https://iremhouston.foxycart.com/cart" method="post" accept-charset="utf-8">
	<fieldset>
		<input name="code" type="hidden" value="[[*course_code]]" />
		<input name="name" type="hidden" value="[[*pagetitle]]" />
		<input type="hidden" name="category" value="DEFAULT" />
		<p><strong>Registration Fees:</strong></p>
		<div class="controls">
			<input name="price" type="radio" id="course_price_premier" class="styled" data-course-reg="course" value="[[*course_price_premier]]" />
			<p>Premier Rate: $[[*course_price_premier]]<br />
			[[*course_price_premier_desc]]</p>
			
			<input name="price" type="radio" id="course_price_classic" class="styled" data-course-reg="course" value="[[*course_price_classic]]" />
			<p>Classic Rate: $[[*course_price_classic]]<br />
			[[*course_price_classic_desc]]</p>
			
			<input name="price" type="radio" id="course_price_nonmember" class="styled" data-course-reg="course" value="[[*course_price_nonmember]]" />
			<p>Nonmember Rate: $[[*course_price_nonmember]]<br />
			[[*course_price_nonmember_desc]]</p>
		</div><!-- /.controls -->
		<p>[[*course_credit_info]]</p>
		<input type="submit" name="register_button" value="Register" class="register_link" />
	</fieldset>
</form>