<p><strong>Registration Fees:</strong></p>
<p>Member Rate:</strong> $[[*course_price_member]]<br />
[[*course_price_member_desc]]</p>

<p>Nonmember Rate:</strong> $[[*course_price_nonmember]]<br />
[[*course_price_nonmember_desc]]</p>
<p>[[*course_credit_info]]</p>
<a href="[[*course_registration_url]]" target="_new" class="register_link">Register</a>