<p class="register_link">Call to Register</p>

<p><strong>Registration Fees:</strong></p>
<div class="event_reg_fees controls pull-left">
	[[!If?
		&subject=`[[*early_bird_date:strtotime:date=`%Y%m%d`]]`
		&operator=`>=`
		&operand=`[[getTime]]`
		&then=`<p>Member Early Bird: $[[*event_price_member_early_bird]]</p>
				<p>Non-Member Early Bird: $[[*event_price_nonmember_early_bird]]</p>
				<p>On [[*early_bird_date:strtotime:date=`%B %e`]] the price will increase $[[*event_price_member:subtract=`[[*event_price_member_early_bird]]`]].`
		&else=`<p>Member: $[[*event_price_member]]</p>
						<p>Non-Member: $[[*event_price_nonmember]]</p>`
	]]
</div><!-- /.controls -->
[[If?
		&subject=`[[*event_guest_price]]`
		&operator=`notempty`
		&then=`<div class="guests_controls controls pull-right">
						<input type="checkbox" name="add_guest" id="add_guests" class="checkbox" value="Yes" /><p id="add_guests_text">Add Guests?</p>
						<div id="guests">
							<p>Guest Price: $[[*event_guest_price]]</p>
						</div><!-- /#guests -->
					</div><!-- /.guest_controls -->`
		&else=`[[If?
							&subject=`[[*event_custom_count]]`
							&operator=`notempty`
							&then=`<div class="guests_controls controls pull-right">
												<input type="checkbox" name="add_group" id="add_groups" class="checkbox" value="Yes" /><p id="add_groups_text">Add group?</p>
												<div id="groups">
													<p>Number in Group: [[*event_custom_count]]</p>
													[[getImageList? &tvname=`MIGX-events-custom-group` &tpl=`@CODE:	
															<input name="3:price" type="radio" id="event_price_group" class="radio" value="[[+eventPrice]]" />
															<p>[[+eventTitle]]: $[[+eventPrice]]</p>
													`]]
											</div><!-- /#groups -->
										</div><!-- /.guests_controls -->`
							&else=``
						]]`
]]