<form action="https://iremhouston.foxycart.com/cart" method="post" accept-charset="utf-8">
	<fieldset>
		<input name="code" type="hidden" value="[[*course_code]]" />
		<input name="name" type="hidden" value="[[*pagetitle:stripString=`"`]]" />
		<input type="hidden" name="category" value="DEFAULT" />
		<p><strong>Registration Fees:</strong></p>
		<div class="event_reg_fees controls pull-left">
			[[!If?
				&subject=`[[*early_bird_date:strtotime:date=`%Y%m%d`]]`
				&operator=`>=`
				&operand=`[[getTime]]`
				&then=`<input name="price" type="radio" id="event_price_member_early_bird" class="radio" value="[[*event_price_member_early_bird]]" />
						<p>Member Early Bird: $[[*event_price_member_early_bird]]</p>
						<input name="price" type="radio" id="event_price_nonmember_early_bird" class="radio" value="[[*event_price_nonmember_early_bird]]" />
						<p>Non-Member Early Bird: $[[*event_price_nonmember_early_bird]]</p>
						<p>On [[*early_bird_date:strtotime:date=`%B %e`]] the price will increase $[[*event_price_member:subtract=`[[*event_price_member_early_bird]]`]].`
				&else=`<input name="price" type="radio" id="event_price_member" class="radio" value="[[*event_price_member]]" />
								<p>Member: $[[*event_price_member]]</p>
								<input name="price" type="radio" id="event_price_nonmember" class="radio" value="[[*event_price_nonmember]]" />
								<p>Non-Member: $[[*event_price_nonmember]]</p>`
			]]
			<div id="registration_info" class="controls pull-left">
					<input type="text" name="quantity" id="attend_quantity" class="input-micro pull-left" />
					<p class="quantity">Number of attendees</p>
					<input type="text" name="attendees_names" id="attend_name" class="input-large" />
					<p>Enter attendee names separated by a comma.<br />Include company and credential if any.</p>
			</div><!-- /registration_info -->

		</div><!-- /.controls -->
		[[If?
				&subject=`[[*event_guest_price]]`
				&operator=`notempty`
				&then=`<div class="guests_controls controls pull-right">
								<input type="checkbox" name="add_guest" id="add_guests" class="checkbox" value="Yes" /><p id="add_guests_text">Add Guests?</p>
								<div id="guests">
									<p>Guest Price: $[[*event_guest_price]]</p>
									<input name="2:name" type="hidden" value="[[*pagetitle:stripString=`"`]]" />
									<input name="2:code" type="hidden" value="[[*course_code]]_guests" />
									<input name="2:price" type="hidden" value="[[*event_guest_price]]" />
									<input type="text" name="2:quantity" id="guests_number" class="input-micro pull-left" />
									<p class="quantity">Number of Guests</p>
									<textarea name="guest_names" id="guests_names" class="input-large" row="3"></textarea>
									<p>Enter guest names separated by a comma.<br />Include company and credential if any.</p>
								</div><!-- /#guests -->
							</div><!-- /.guest_controls -->`
				&else=`[[If?
									&subject=`[[*event_custom_count]]`
									&operator=`notempty`
									&then=`<div class="guests_controls controls pull-right">
														<input type="checkbox" name="add_group" id="add_groups" class="checkbox" value="Yes" /><p id="add_groups_text">Add group?</p>
														<div id="groups">
															<p>Number in Group: [[*event_custom_count]]</p>
															<input name="3:name" type="hidden" value="[[*pagetitle:stripString=`"`]]" />
															<input name="3:code" type="hidden" value="[[*course_code]]_groups" />

															[[getImageList? &tvname=`MIGX-events-custom-group` &tpl=`@CODE:	
																	<input name="3:price" type="radio" id="event_price_group" class="radio" value="[[+eventPrice]]" />
																	<p>[[+eventTitle]]: $[[+eventPrice]]</p>
															`]]

														<input type="text" name="3:quantity" id="groups_number" class="input-micro pull-left" />
														<p class="quantity">Number of Groups</p>
														<input type="text" name="group_names" id="groups_names" />
														<p>Enter guest names separated by a comma.<br />Include company and credential if any.</p>
													</div><!-- /#groups -->
												</div><!-- /.guests_controls -->`
									&else=``
								]]`
			]]
		<input type="submit" name="register_button" value="Register" class="register_link" />
	</fieldset>
</form>