<div title="Add to Calendar" class="addthisevent"> 
    Add to Calendar
    <span class="start">[[*event_date:strtotime:date=`%m/%d/%Y`]] [[*event_date:strtotime:date=`%I:%M %p`]]</span> 
    <span class="end">[[*event_date_end:strtotime:date=`%m/%d/%Y`]] [[*event_date_end:strtotime:date=`%I:%M %p`]]</span> 
    <span class="timezone">America/Chicago</span>
    <span class="title">[[*pagetitle]]</span>
    <span class="description"><p>Register: [[~[[*id]]? &scheme=`full`]]</p><br /><br />[[*content]]</span>
    <span class="location">[[*event_location]]</span>
    <span class="organizer">IREM Houston</span>
    <span class="organizer_email">jmiller@iremhouston.org</span>
    <span class="facebook_event"></span>
    <span class="all_day_event"></span>
    <span class="date_format">MM/DD/YYYY</span>
</div>
<p id="open_registration" class="register_link">Register</p>
<p><br /><strong>Registration Fees:</strong></p>
<div class="registration_info pull-left">
[[!If?
	&subject=`[[*early_bird_date:strtotime:date=`%Y%m%d`]]`
	&operator=`>=`
	&operand=`[[getTime]]`
	&then=`<p>Member Early Bird: $[[*event_price_member_early_bird]]<br />
    		 Non-Member Early Bird: $[[*event_price_nonmember_early_bird]]<br />
			   On [[*early_bird_date:strtotime:date=`%B %e`]] the price will increase $[[*event_price_member:subtract=`[[*event_price_member_early_bird]]`]].</p>`
	&else=`<p>Member: $[[*event_price_member]]<br />
				 Non-Member: $[[*event_price_nonmember]]</p>`
]]
[[If?
	&subject=`[[*event_guest_price]]`
	&operator=`notempty`
	&then=`<div class="guests_controls controls pull-right">
	         <p>Guest Price: $[[*event_guest_price]]</p>
         </div><!-- /.guests_controls -->`
	&else=``
]]
</div><!-- /.registration_info -->

[[If?
	&subject=`[[*MIGX-events-custom-group]]`
	&operator=`notempty`
	&then=`<div class="guests_controls controls pull-right">
					[[getImageList? &tvname=`MIGX-events-custom-group` &tpl=`@CODE:
							<p>[[+eventTitle]]: $[[+eventPrice]]<br />
							Number in [[*event_group_title]]: [[+eventCount]]</p>
					`]]
				</div><!-- /.guests_controls -->`
	&else=``
]]

<div id="registration_form" class="registration_container">
  <form action="https://iremhouston.foxycart.com/cart" method="post" accept-charset="utf-8">
  	<fieldset>
  		<input name="code" type="hidden" value="[[*course_code]]" />
  		<input name="name" type="hidden" value="[[*pagetitle:stripString=`"`]]" />
  		<input type="hidden" name="category" value="DEFAULT" />
  		<p><strong>Registration:</strong></p>
  		<div class="event_reg_fees controls pull-left">
			[[!If?
				&subject=`[[*early_bird_date:strtotime:date=`%Y%m%d`]]`
				&operator=`>=`
				&operand=`[[getTime]]`
				&then=`<input name="price" type="radio" id="event_price_member_early_bird" class="radio non_group_radio" value="[[*event_price_member_early_bird]]" />
  						<p class="radio_label">Member Early Bird: $[[*event_price_member_early_bird]]</p>
  						<input name="price" type="radio" id="event_price_nonmember_early_bird" class="radio non_group_radio" value="[[*event_price_nonmember_early_bird]]" />
  						<p class="radio_label">Non-Member Early Bird: $[[*event_price_nonmember_early_bird]]</p>`
				&else=`<input name="price" type="radio" id="event_price_member" class="radio non_group_radio" value="[[*event_price_member]]" />
								<p class="radio_label">Member: $[[*event_price_member]]</p>
								<input name="price" type="radio" id="event_price_nonmember" class="radio non_group_radio" value="[[*event_price_nonmember]]" />
								<p class="radio_label">Non-Member: $[[*event_price_nonmember]]</p>`
			]]
  		[[If?
  				&subject=`[[*event_guest_price]]`
  				&operator=`notempty`
  				&then=`<div id="guests">
          				<input name="price" type="radio" id="event_price_guest" class="radio non_group_radio" value="[[*event_guest_price]]" />
  								<p class="radio_label">Guest: $[[*event_guest_price]]</p>
  							</div><!-- /#guests -->`
  				&else=``
  		]]
  		[[If?
				&subject=`[[*MIGX-events-custom-group]]`
				&operator=`notempty`
				&then=`<div id="groups">
									[[getImageList? &tvname=`MIGX-events-custom-group` &tpl=`@CODE:
											<input name="price" type="radio" id="group_price_[[+idx]]" class="radio event_price_group" value="[[+eventPrice]]" />
											<p class="radio_label">[[+eventTitle]]: $[[+eventPrice]]<br />
    								  Number in Group: [[+eventCount]]</p>
									`]]
                <br />
							</div><!-- /#groups -->`
				&else=``
			]]
			<br />
			<input name="new_attendee" type="checkbox" value="Yes" class="radio non_group_radio" />
			<p class="radio_label">This is my first IREM Houston event</p>
  		</div><!-- /.event_reg_fees -->

  		<div id="registration_info" class="guests_controls controls pull-right">
  			<input type="text" name="quantity" id="attend_quantity" class="input-micro pull-left" />
  			<p id="attend_quantity_label_single" class="quantity">Number of Attendees</p>
  			<p id="attend_quantity_label_multiple" class="quantity">Number of [[*event_group_title]]s</p>
  			<textarea name="attendees_names" id="attend_name" class="input-large" row="4"></textarea>
  			<p>Enter attendee names separated by a comma. Include company and credential <br />if any.</p>
  		</div><!-- /#registration_info -->
  		<input type="submit" name="register_button" value="Continue" class="register_event_submit" />
  	</fieldset>
  </form>
</div><!-- /#registration_form -->