<footer>
	<div class="footer_main_bg full">
		<div class="footer_main_container container_12">
			<div class="grid_2">
				<div class="footer_badge_wrapper">
					<div class="footer_badge">
						<a class="footer_badge_link no_text" href="http://www.irem.org/sec1ins.cfm?sec=joinirem&con=cpm.cfm&par=" target="_new">CPM Certification</a>
					</div><!-- /.footer_badge -->
				</div><!-- /.footer_badge_wrapper -->
				<div class="connect_wrapper footer_connect">
			 		[[getResources?
        		&parents=`-1`
        		&resources=`25`
        		&tpl=`tpl-social_media_icons`
        		&includeTVs=`1`
        		&processTVs=`1`
        	]]
		 	 </div><!-- /.connect_wrapper -->
			</div><!-- /.grid_2 -->

			<div class="footer_nav grid_6">
		 		<ul class="footer_nav_left grid_2 alpha omega">
		 			<li><a href="[[~1]]">Home</a></li>
		 			<li><a href="[[~2]]">Community</a>
		 				<ul>
			 				[[Wayfinder? &startId=`2` &level=`2` &cacheResults=`1`]]
			 			</ul>
			 		</li>
			 		<li><a href="[[~11]]">Calendar</a></li>
			 	</ul>
			 	<ul class="footer_nav_middle grid_2 alpha">
			 		<li><a href="[[~12]]">Education</a>
			 			<ul>
			 				[[Wayfinder? &startId=`12` &level=`1` &cacheResults=`1`]]
			 				<!--<li><a href="#">IREM Founder Website</a></li>-->
			 			</ul>
			 		</li>
			 		<li><a href="[[~16]]">Career</a></li>
			 		<li><a href="[[~19]]">Resources</a>
			 			<ul>
			 				[[Wayfinder? &startId=`19` &level=`1` &cacheResults=`1`]]
			 			</ul>
			 		</li>
			 	</ul>
			 	<ul class="footer_nav_right grid_2 omega">
			 		<li><a href="[[~24]]">Staff</a></li>
			 		<li><a href="[[~25]]">Contact</a></li>
			 	</ul>
			 	<div class="copyright grid_2">
			 		&copy; 2012-[[!getYear]] IREM Houston.<br />
			 		All Rights Reserved. | <a href="[[~128]]">Policies</a><br/><br />
			 		Site Designed by <br />
			 		<a href="http://www.keystoneresources.com" target="_new">Keystone Resources</a>
		 		</div><!-- /.copyright -->
			</div><!-- /.footer_nav -->

		 <div class="footer_map grid_4 alpha omega">
		 	<div class="footer_contact">
		 		<div class="contact_text">
		 			[[++irem_address]]
		 		</div>
		 	</div><!-- /.footer_contact -->
		 </div><!-- /.footer_map -->
	  </div><!-- /.footer_main_container -->
	</div><!-- /.footer_main_bg -->
</footer>