<h2>Must be a current IREM Member to volunteer on committees.<br />
Not a member? <a href="[[~3]]">Click here</a> to consider joining.</h2>
<p class="required">[[!+fi.validation_error_message]]</p>
[[!+fi.error_message:notempty=`<p class="required">[[!+fi.error_message]]</p>`]]
<form class="form-horizontal" method="post" action="[[~[[*id]]]]">
	<fieldset>
		 <input type="hidden" name="nospam:blank" value="" />
		 <input type="hidden" name="volunteer[]" value="" />
		 <input type="hidden" name="programs[]" value="" />
		 <input type="hidden" name="outreach[]" value="" />
		 <input type="hidden" name="special-talent[]" value="" />
		<div class="control-group">
			<label class="control-label [[!+fi.error.name]]" for="name">Name: <span class="required">*</span></label>
			<div class="controls">
				<input type="text" class="input-xlarge" id="name" name="name" value="[[!+fi.name]]" />
			</div><!-- /.controls -->
		</div><!-- /.control-group -->
		<div class="control-group">
			<label class="control-label [[!+fi.error.company]]" for="company">Company: <span class="required">*</span></label>
			<div class="controls">
				<input type="text" class="input-xlarge" id="company" name="company" value="[[!+fi.company]]" />
			</div><!-- /.controls -->
		</div><!-- /.control-group -->
		<div class="control-group">
			<label class="control-label [[!+fi.error.email]]" for="email">Email: <span class="required">*</span></label>
			<div class="controls">
				<input type="text" class="input-xlarge" id="email" name="email" value="[[!+fi.email]]" />
			</div><!-- /.controls -->
		</div><!-- /.control-group -->
		<div class="control-group">
			<label class="control-label [[!+fi.error.phone]]" for="phone">Phone: <span class="required">*</span></label>
			<div class="controls">
				<input type="text" class="input-xlarge" id="phone" name="phone" value="[[!+fi.phone]]" />
			</div><!-- /.controls -->
		</div><!-- /.control-group -->

		<div class="controls">
				<input type="checkbox" id="serve_type_1" class="styled" name="serve-type[]" value="year-round" [[!+fi.serve-type:FormItIsChecked=`year-round`]] />
				<span class="label_style">
				I WANT TO SERVE ON A YEAR-ROUND TEAM
				</span>
				<span class="form_text">
				(Regular Committee Assignment)
				</span>
		</div><!-- /.controls -->
		<div class="controls">
				<input type="checkbox" id="serve_type_2" class="styled" name="serve-type[]" value="short-term" [[!+fi.serve-type:FormItIsChecked=`short-term`]] />
				<span class="label_style">
				I PREFER SHORT-TERM ASSIGNMENTS
				</span>
				<span class="form_text">
				(Brief task forces, small group or independent projects.)
				</span>
		</div><!-- /.controls -->
		<div class="controls">
				<input type="checkbox" id="serve_type_3" class="styled" name="serve-type[]" value="medium" [[!+fi.serve-type:FormItIsChecked=`medium`]] />
				<span class="label_style">
				I CAN DEDICATE A MEDIUM AMOUNT OF TIME
				</span>
				<span class="form_text">
				(One-day hands-on activities or a partial year project.)
				</span>
		</div><!-- /.controls -->

		<div class="controls">
				<input type="checkbox" id="education" class="styled" name="education" value="yes" [[!+fi.education:FormItIsChecked=`yes`]] />
				<span class="label_style">
				EDUCATION/PROFESSIONAL DEVELOPMENT
				</span>
				<span class="form_text">
				Volunteers help coordinate and implement courses, professional development and seminars of interest to commercial property managers. Team also participates in the success of the Scholarship Program which awards funds to active members for IREM courses and conferences.
				</span>
		</div><!-- /.controls -->

		<div class="controls">
				<input type="checkbox" id="outreach" class="styled" name="outreach" value="yes" [[!+fi.outreach:FormItIsChecked=`yes`]] />
				<span class="label_style">
				Outreach
				</span>
				<span class="form_text">
				Volunteers help develop recruitment programs and events to attract a diverse range of new and returning professionals and real estate students.
				</span>
		</div><!-- /.controls -->

		<div class="controls">
				<input type="checkbox" id="programs" class="styled" name="programs" value="yes" [[!+fi.programs:FormItIsChecked=`yes`]] />
				<span class="label_style">
				Programs
				</span>
				<span class="form_text">
				Volunteers secure timely and interesting speakers for a year of lunch or breakfast events at various locations.
		</span>
		</div><!-- /.controls -->

		<div class="controls">
				<input type="checkbox" id="networking" class="styled" name="networking" value="yes" [[!+fi.networking:FormItIsChecked=`yes`]] />
				<span class="label_style">
				Networking
				</span>
				<span class="form_text">
				Volunteers 39-and-under develop and implement valuable networking opportunities for industry professionals.
				</span>
		</div><!-- /.controls -->

		<div class="controls">
				<input type="checkbox" id="public-policy" class="styled" name="public-policy" value="yes" [[!+fi.public-policy:FormItIsChecked=`yes`]] />
				<span class="label_style">
				Public Policy
				</span>
				<span class="form_text">
				As a service to members, volunteers monitors and reports on legislative issues in state, county and city that affect property management.
				</span>
		</div><!-- /.controls -->

		<div class="controls">
				<input type="checkbox" id="community" class="styled" name="community" value="yes" [[!+fi.community:FormItIsChecked=`yes`]] />
				<span class="label_style">
				Community Involvement
				</span>
				<span class="form_text">
				Volunteers work to involve the chapter with various community service projects throughout the year.
				</span>
		</div><!-- /.controls -->
		
		<div class="controls">
				<input type="checkbox" id="fashion" class="styled" name="fashion" value="yes" [[!+fi.fashion:FormItIsChecked=`yes`]] />
				<span class="label_style">
				Fashion Show
				</span>
				<span class="form_text">
				Volunteers help develop the various aspects of our annual Fashion Show including securing sponsorships, coordinating outfit donations, and marketing the event.
				</span>
		</div><!-- /.controls -->
		
<!--
		<div class="controls">
				<input type="checkbox" id="friends" class="styled" name="friends" value="yes" [[!+fi.friends:FormItIsChecked=`yes`]] />
				<span class="label_style">
				Friends
				</span>
				<span class="form_text">
				Volunteers work to ensure the Friend of IREM program is executed effectively to the satisfaction of both Friends and IREM members.
				</span>
		</div>
-->
		
		<div class="controls">
				<input type="checkbox" id="foodfest" class="styled" name="foodfest" value="yes" [[!+fi.foodfest:FormItIsChecked=`yes`]] />
				<span class="label_style">
				Food Fest
				</span>
				<span class="form_text">
				Volunteers organize a range of details involved in hosting this annual social cook off and fundraiser. Tasks include recruiting cooking teams, securing sponsorship, and brainstorming new ideas to keep the event fresh.
				</span>
		</div><!-- /.controls -->
		
		<div class="controls">
				<input type="checkbox" id="awards" class="styled" name="awards" value="yes" [[!+fi.awards:FormItIsChecked=`yes`]] />
				<span class="label_style">
				Awards
				</span>
				<span class="form_text">
				 Volunteers work together to choose a venue, theme, and other elements of the annual Awards Luncheon.
				</span>
		</div><!-- /.controls -->
		
		

		<div class="controls">
				<input type="checkbox" id="special" class="styled" name="special-talent-parent" value="yes" [[!+fi.special-talent-parent:FormItIsChecked=`yes`]] />
				<span class="label_style">
				Special Talents
				</span>
				<span class="form_text">
				If you have special talents and expertise that you would like to share, please let us know:
				</span>
				<span class="form_text_list">
				<input type="checkbox" id="presenting-speaking" class="styled" name="special-talent[]" value="presenting-speaking" [[!+fi.special-talent:FormItIsChecked=`presenting-speaking`]] />Presenting / Speaking<br />
				<input type="checkbox" id="graphic-design" class="styled" name="special-talent[]" value="graphic-design-marketing" [[!+fi.special-talent:FormItIsChecked=`graphic-design-marketing`]] />Graphic Design / Marketing<br />
				<input type="checkbox" id="singing" class="styled" name="special-talent[]" value="singing" [[!+fi.special-talent:FormItIsChecked=`singing`]] />Singing<br />
				<input type="checkbox" id="audio-visual" class="styled" name="special-talent[]" value="technical-audio-visual" [[!+fi.special-talent:FormItIsChecked=`technical-audio-visual`]] />Technical / Audio / Visual Projects<br />
				<input type="checkbox" id="writing" class="styled" name="special-talent[]" value="writing" [[!+fi.special-talent:FormItIsChecked=`writing`]] />Writing<br />
				<input type="checkbox" id="other-talent" class="styled" name="special-talent[]" value="other-talent" [[!+fi.special-talent:FormItIsChecked=`other-talent`]] />Other<br />
				</span>
		</div><!-- /.controls -->
	<div class="controls">
				<input type="submit" name="submit" value="Submit" id="form_submit" class="submit" />
		 </div>
	</fieldset>
</form>