[[If?
	&subject=`[[*template]]`
	&operator=`=`
	&operand=`6`
	&then=`<!-- BEGIN FOXYCART FILES -->
<link rel="stylesheet" href="//cdn.foxycart.com/static/scripts/colorbox/1.3.18/style1_fc/colorbox.css" type="text/css" media="screen" charset="utf-8" />
<script src="//cdn.foxycart.com/iremhouston/foxycart.colorbox.js" type="text/javascript" charset="utf-8"></script>
<!-- END FOXYCART FILES -->`
]]
[[If?
	&subject=`[[*template]]`
	&operator=`=`
	&operand=`24`
	&then=`<!-- BEGIN FOXYCART FILES -->
<link rel="stylesheet" href="//cdn.foxycart.com/static/scripts/colorbox/1.3.18/style1_fc/colorbox.css" type="text/css" media="screen" charset="utf-8" />
<script src="//cdn.foxycart.com/iremhouston/foxycart.colorbox.js" type="text/javascript" charset="utf-8"></script>
<!-- END FOXYCART FILES -->`
]]
[[If?
	&subject=`[[*id]]`
	&operator=`=`
	&operand=`177`
	&then=`<!-- BEGIN FOXYCART FILES -->
<link rel="stylesheet" href="//cdn.foxycart.com/static/scripts/colorbox/1.3.18/style1_fc/colorbox.css" type="text/css" media="screen" charset="utf-8" />
<script src="//cdn.foxycart.com/iremhouston/foxycart.colorbox.js" type="text/javascript" charset="utf-8"></script>
<!-- END FOXYCART FILES -->`
]]