<header>
	<div class="header_top_bg full">
		<div class="header_top_container container_12">
		 <div class="header_top grid_12">
			<ul class="pull-right">
			<li><a class="one" href="[[~3]]">Join Irem</a></li>
			<li><a class="two" href="[[~28]]" target="_new">CPM Certification</a></li>
			<li><a class="three" href="[[~10]]">Get involved</a></li>
			<li><a class="four" href="[[~177]]">Pay Invoice</a></li>
			</ul>
		</div><!-- /.header_top -->
	  </div><!-- /.header_top_container -->
	</div><!-- /.header_top_bg -->
	<div class="nav_main_bg full">
		<div class="nav_main_container container_12">
			<div class="nav_main grid_2">
				<div class="irem_logo no_text"><a href="[[~1]]">IREM Houston</a></div><!-- /.irem_logo -->
			</div><!-- /.nav_main grid_12 -->
			<div class="nav_main grid_10">
				<div class="nav_buttons grid_10 alpha omega">
					[[Wayfinder?
						&startId=`0`
						&level=`1`
						&limit=`8`
						&outerTpl=`@CODE:<ul class="grid_10 alpha omega">[[+wf.wrapper]]</ul>`
						&rowTpl=`tpl-main-nav-row`
						&cacheResults=`1`
					]]
				</div><!-- /.nav_buttons -->
			</div><!-- /.nav_main grid_10 -->
		</div><!-- /.nav_main_container -->
	</div><!-- /.nav_main_bg -->
</header>