<p>Here at IREM, we not only educate professionals, we build a networking community.</p>
<div class="connect_wrapper">
  [[getResources?
		&parents=`-1`
		&resources=`25`
		&tpl=`tpl-social_media_icons`
		&includeTVs=`1`
		&processTVs=`1`
	]]
</div><!-- /.connect_wrapper -->
<div class="badge_wrapper">
	<div class="join_badge">
		<a class="badge_link no_text" href="[[~3]]" target="_new">Join IREM Houston</a>
	</div><!-- /.join_badge -->
</div><!-- /.badge_wrapper -->