<form action="https://iremhouston.foxycart.com/cart" method="post" accept-charset="utf-8" class="form-horizontal">
	<fieldset>
		<input name="code" type="hidden" value="pay_invoice" />
		<input name="name" type="hidden" value="[[*pagetitle]]" />
		<input type="hidden" name="category" value="DEFAULT" />

		<div class="control-group">
			<label class="control-label" id="name_label" for="full_name">Full Name: <span class="required">*</span></label>
			<div class="controls">
				<input type="text" name="full_name" id="in_name" class="input-large" />
			</div><!-- /.controls -->
		</div><!-- /.control-group -->

		<div class="control-group">
			<label class="control-label" id="price_label" for="price">Payment Amount: <span class="required">*</span></label>
			<div class="controls">
				<input type="text" name="price" id="in_price" class="input-large" />
			</div><!-- /.controls -->
		</div><!-- /.control-group -->

		<div class="control-group">
			<label class="control-label" id="invoice_label" for="invoice_number">Invoice or Member Number: <span class="required">*</span></label>
			<div class="controls">
				<input type="text" name="invoice_number" id="in_number" class="input-large" />
			</div><!-- /.controls -->
		</div><!-- /.control-group -->


		<p class="label_style">Please check if this is for:</p>
		<div class="controls">
			<input type="checkbox" id="service_fees" class="styled" name="service_fees" />
			<span class="label_style">
				Houston Service Fees / Dues
			</span>
      <span class="form_text">(Please check all that apply)</span>
			<span class="form_text_list">
				<input type="checkbox" id="cpm_dues" class="styled" name="cpm_dues" />CPM Dues<br />
				<input type="checkbox" id="cpm_candidate_dues" class="styled" name="cpm_candidate_dues" />CPM Candidate Dues<br />
				<input type="checkbox" id="arm_dues" class="styled" name="arm_dues" />ARM Dues<br />
				<input type="checkbox" id="acom_dues" class="styled" name="acom_dues" />ACoM  Dues<br />
				<input type="checkbox" id="associate_fees" class="styled" name="associate_fees" />Associate Member Fees<br />
				<input type="checkbox" id="friend_fee" class="styled" name="friend_fee" />Friend of IREM Fees<br />
				<input type="checkbox" id="scholarship" class="styled" name="scholarship" />Contribution to Scholarship Fund<br />
				<input type="checkbox" id="legislative" class="styled" name="legislative" />Contribution to Legislative Activities<br />
			</span>
		</div><!-- /.controls -->

		<span class="form_text_list no_text">.</span>

		<div class="controls">
			<input type="checkbox" id="event_sponsor" class="styled" name="event_sponsor" />
			<span class="label_style">
				Event Sponsorship
			</span>
		</div><!-- /.controls -->

		<span class="form_text_list no_text">.</span>

		<div class="controls">
			<input type="checkbox" id="donation" class="styled" name="donation" />
			<span class="label_style">
				Donation
			</span>
			<span class="form_text">Please insert project name or description</span>
			<span class="form_text_list">
				<input type="text" class="input-large" id="donation_description" name="donation_description" />
			</span>
		</div><!-- /.controls -->
<span class="form_text_list no_text">.</span>
		<div class="controls">
			<input type="checkbox" id="other" class="styled" name="other" />
			<span class="label_style">
				Other
			</span>
			<span class="form_text">Please insert description</span>
			<span class="form_text_list">
				<input type="text" class="input-large" id="other_description" name="other_description" />
			</span>
		</div><!-- /.controls -->

		<input type="submit" name="pay_invoice_button" value="Pay Now" class="pay_now_link" />
	</fieldset>
</form>