<script defer src="/assets/js/plugins.js"></script>
<script defer src="/assets/js/script.min.js"></script>
<!--[if lt IE 7 ]>
	<script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
	<script>window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})</script>
<![endif]-->
[[!Analytics? &setAccount=`UA-5066942-76`]]