<ul class="pull-right">
	<lh>[[+pagetitle]]</lh>
	[[getResources?
		&parents=`[[+id]]`
    &includeTVs=`1`
		&processTVs=`1`
		&tpl=`tpl-course-sidebar`
    &sortby=`menuindex`
    &sortdir=`ASC`
    &limit=`0`
    &depth=`1`
	]]
</ul>