<div class="upcoming_news_detail">
	<p><strong>[[+pagetitle]]</strong><br />
[[+introtext:is=``:then=`[[+content:ellipsis=`60`:striptags]]`:else=`[[+introtext:ellipsis=`60`]]`]]<a href="[[~87]]#[[+pagetitle:urlencode]]">Read More</a></p>
</div>
