<div class="calendar_details">
	<p class="date">[[+startdate:date=`%A, %B %e, %Y`]]</h3>
	<p>[[+title]]</p>
	<p>[[+description:ellipsis=`75`]]</p>
	<a href="[[+detailURL]]">go to event</a>
</div><!-- /.calendar_details -->