<li>			
	<div class="home_banner_left grid_5 alpha omega">
		[[+quoteTst]]
		<p class="author">[[+authorTst]]</p>
		<p class="company">[[+companyTst]]</p>
				
	</div><!-- /.home_banner_left -->
	<div class="home_banner_right">
		<img src="[[+photoTst:phpthumbof=`w=560&h=369&zc=1`]]" alt="[[+pagetitle]]" title="[[+pagetitle]]" />
	</div><!-- ./home_banner_right -->
</li>