<div class="image_grid_block grid_4 alpha">
	<div class="image_grid_image grid_2 alpha">
	<a href="[[+photoLink]]" target="_new"><img src="[[+photoThumb:phpthumbof=`w=220&h=180&zc=1`]]" alt="[[+pagetitle]]" title="[[+pagetitle]]"]] /></a>
	</div><!-- /.image_grid_image -->
	<div class="image_grid_content grid_2 alpha">
		<h4>[[+photoDate]]</h4>
		<p>[[+photoTitle]]</p>
	</div><!-- /.image_grid_content -->
</div><!-- /.image_grid_block -->