<div class="image_grid_block grid_4 alpha">
	<div class="image_grid_image grid_2 alpha">
		<img src="[[+imageChp:phpthumbof=`w=140&h=126&far=1`:default=`assets/img/images/Team/default_man.png`]]" alt="[[+pagetitle]]" title="[[+pagetitle]]"]] />
	</div><!-- /.image_grid_image -->
	<div class="image_grid_content grid_2 alpha">
		<h4>[[+nameChp]]</h4>
		<h5>[[+titleChp]]</h5>
		<p>
		[[+addressChp]]
		<a href="mailto:[[+emailChp]]">[[+emailChp]]</a>	
		</p>
	</div><!-- /.image_grid_content -->
</div><!-- /.image_grid_block -->