<li [[+wf.classes]]>
	<a class="icon icon_[[+wf.docid]]" href="[[+wf.link]]" title="[[+wf.title]]">.</a>
	<a class="nav_[[+wf.docid]]" href="[[+wf.link]]" title="[[+wf.title]]">[[+wf.linktext]]</a>
	[[+wf.wrapper]]
</li>