[[switch?
	&get=`[[+class_key]]`
	&c1=`modSymLink`
	&do1=`<li>
					<h2><a href="[[~[[getResourceField? &id=`[[+id]]` &field=`content`]]]]" target="_new">[[+tv.event_date:strtotime:date=`%B %e, %Y / %A`]]</a></h2>
					<h3>[[+pagetitle]]</h3>
					<p>[[+introtext:ellipsis=`200`]]</p>
					<a href="[[~[[getResourceField? &id=`[[+id]]` &field=`content`]]]]" target="_new">Read More &amp; Register</a>
				</li>`
	&c2=`modWebLink`
	&do2=`<li>
					<h2>[[+tv.event_date:strtotime:date=`%B %e, %Y / %A`]]</h2>
					<h3>[[+pagetitle]]</h3>
					<p>[[+introtext:ellipsis=`200`]]</p>
				</li>`
	&default=`<li>
					<h2><a href="[[~[[+id]]]]">[[+tv.event_date:strtotime:date=`%B %e, %Y / %A`]]</a></h2>
					<h3>[[+pagetitle]]</h3>
					<p>[[+introtext:ellipsis=`200`]]</p>
					[[If?
						&subject=`[[+tv.event_date:strtotime:date=`%Y%m%d`]]`
						&operator=`>=`
						&operand=`[[getTime]]`
						&then=`
						  [[If?
    						&subject=`[[+tv.event_closed]]`
    						&operator=`=`
    						&operand=`Yes`
    						&then=`<a href="index.php?id=[[+id]]">Read More - Registration Closed</a>`
    						&else=`<a href="index.php?id=[[+id]]">Read More &amp; Register</a>`
  						]]
						`
						&else=`<a href="index.php?id=[[+id]]">Read More - Registration Closed</a>`
						]]

				</li>`
]]
