<li>
	<h2>
	[[If?
    &subject=`[[+category]]`
    &operator=`=`
    &operand=`Course`
    &then=`<a href="[[~[[+link]]]]" class="[[+mxcmodalClass]]">[[+startdate:date=`%B %e, %Y / %A`]]</a>`
    &else=`<a href="[[+detailURL]]">[[+startdate:date=`%B %e, %Y / %A`]]</a>`
   ]]
	</h2>
	<h3>
			[[+title]] - Time: [[+startdate:date=`%l:%M %p`]] - [[+enddate:date=`%H%M`:is=`0300`:then=`TBD`:else=`[[+enddate:date=`%l:%M %p`]]`]]
	</h3>
	<p>[[+description]]</p>
</li>