<li id="[[+pagetitle:urlencode]]">
	<h2>
	[[if?
		&subject=`[[+introtext]]`
		&operator=`notempty`
		&then=`<a href="[[+introtext]]" target="_new">[[+pagetitle]]</a>`
		&else=`[[+pagetitle]]`
	]]
	</h2>
	<p>[[+content]]</p>
</li>