<div class="image_grid_block grid_4 alpha friend" data-category="[[+categoryFrd]]">
	<div class="image_grid_image grid_2 alpha">
		[[If?
			&subject=`[[+linkFrd]]`
			&operator=`notempty`
			&then=`<a href="[[+linkFrd]]" target="_new"><img src="[[+imageFrd:phpthumbof=`w=200&h=180&far=1`:default=`assets/img/elements/friend_of_IREM.png`]]" alt="[[+pagetitle]]" title="[[+pagetitle]]" /></a>`
			&else=`<img src="[[+imageFrd:phpthumbof=`w=200&h=180&far=1`:default=`assets/img/elements/friend_of_IREM.png`]]" alt="[[+pagetitle]]" title="[[+pagetitle]]" />`
		]]
	</div><!-- /.image_grid_image -->
	<div class="image_grid_content grid_2 alpha">
		<h4>[[+nameFrd]]</h4>
		<p>
		<span class="company">[[+companyFrd]]</span>
		[[+addressFrd]]
		<span class="tags" style="display:none;">[[+tagsFrd]]</span>
		<a href="mailto:[[+emailFrd]]">Send an Email</a>
		</p>
	</div><!-- /.image_grid_content -->
</div><!-- /.image_grid_block -->