<div class="social_media_icons interior">
  [[+tv.contact_facebook_url:is=``:then=``:else=`
  <div class="facebook">
  		<a class="facebook_link no_text" href="[[+tv.contact_facebook_url]]" target="_new">Facebook</a>
  	</div><!-- /.facebook -->
  `]]
  [[+tv.contact_twitter_url:is=``:then=``:else=`
  <div class="twitter">
  		<a class="twitter_link no_text" href="[[+tv.contact_twitter_url]]" target="_new">Twitter</a>
  	</div><!-- /.twitter -->
  `]]
  [[+tv.contact_linkedin_url:is=``:then=``:else=`
  <div class="linkedin">
  		<a class="linkedin_link no_text" href="[[+tv.contact_linkedin_url]]" target="_new">LinkedIn</a>
  	</div><!-- /.linkedin -->
  `]]
  [[+tv.contact_youtube_url:is=``:then=``:else=`
  <div class="youtube">
  		<a class="youtube_link no_text" href="[[+tv.contact_youtube_url]]" target="_new">Youtube</a>
  	</div><!-- /.youtube -->
  `]]
  [[+tv.contact_instagram_url:is=``:then=``:else=`
  <div class="instagram">
  		<a class="instagram_link no_text" href="[[+tv.contact_instagram_url]]" target="_new">Instagram</a>
  	</div><!-- /.instagram -->
  `]]
</div><!--/.social_media_icons-->