<li class="detail_back">
	<a href="[[~11]]">Back to Calendar</a>
</li>
<li>
	<h2>[[+startdate:date=`%B %e, %Y / %A`]]</h2>
	<h3>
			<!--[[+title]] - Time: [[+startdate:date=`%l:%M %p`]] - [[+enddate:date=`[[+durDay:notempty=`%b %e `]] %l:%M %p`]]-->
			[[+title]] - Time: [[+startdate:date=`%l:%M %p`]] - [[+enddate:date=`%H%M`:is=`0300`:then=`TBD`:else=`[[+enddate:date=`%l:%M %p`]]`]]
	</h3>
	<p>[[+description]]</p>
</li>