<hr class="hr_col_8_5pt grid_8 alpha omega" />
<div class="pullquote grid_8 alpha omega">
	<div class="pullquote_content">
		<div class="quote">
			<p>[[*testimonial_quote]]</p>
		</div>
		<div class="author">
			<p>[[*testimonial_author]]</p>
			<p>[[*testimonial_company]]</p>
		</div><!-- /.author -->
	</div><!-- /.pullquote_content -->
</div><!-- /.pullquote -->
<hr class="hr_col_8_5pt grid_8 alpha omega" />