[[!If?
	&subject=`[[+tv.event_date:strtotime:date=`%Y%m%d`]]`
	&operator=`>=`
	&operand=`[[!getTime]]`
	&then=`<div class="calendar_details">
					<p class="date"><a href="[[~[[+id]]]]">[[+tv.event_date:strtotime:date=`%A, %B %e, %Y`]]</a>
					<p><strong>[[+pagetitle]]: </strong>[[+introtext:ellipsis=`60`]]</p>
					<a href="[[~[[+id]]]]">Read More &amp; Register</a>
				</div>`
]]

<!--
<div class="calendar_details">
					<p class="date"><a href="[[~[[+id]]]]">[[+tv.event_date:strtotime:date=`%A, %B %e, %Y`]]</a>
					<p><strong>[[+pagetitle]]: </strong>[[+introtext:ellipsis=`60`]]</p>
					<a href="[[~[[+id]]]]">Read More &amp; Register</a>
				</div>
-->