<table class="courses grid_8 alpha omega">
	<thead>
		<tr>
			<td width="620px" colspan="3">
				[[+pagetitle]]
			</td>
		</tr>
	</thead>
	<tbody>
		[[getResources?
			&parents=`[[+id]]`
			&includeTVs=`1`
			&processTVs=`1`
			&tpl=`tpl-course-listing`
	    &sortby=`menuindex`
	    &sortdir=`ASC`
	    &limit=`0`
	    &depth=`1`
    ]]
	</tbody>
</table>