<li>
[[If?
	&subject=`[[+tv.article_link]]`
	&operator=`empty`
	&then=`<a href="[[~[[+id]]]]">[[+pagetitle]]</a><br />`
	&else=`<a href="[[+tv.article_link]]">[[+pagetitle]]</a><br />`
]]
[[+description:ellipsis=`190`]]	
</li>