<a href="[[~7]]"><img class="pull-left" src="[[+photoThumb:phpthumbof=`w=142&h=103&zc=1`]]" alt="[[+pagetitle]]" title="[[+pagetitle]]"/></a>
<div class="photo_title pull-left">
	<p>[[+photoTitle]]</p>
	<a href="[[~7]]">Go to all photos</a>
</div><!-- /.photo_title -->