<strong>Latest Tweet</strong>
<div class="tweet">
[[!TwitterX?     
  &twitter_consumer_key=`sEddNZdygzKMFZ3GDrNYA`    
  &twitter_consumer_secret=`QdtvVogYBKTsS0nAKEwfHbYAXYrgVj6C1umvkhEtZk`     
  &twitter_access_token=`1283201041-jXnpaa0LwVTRiy9yNGc4l2kT0qVzGsn97KREL1S`     
  &twitter_access_token_secret=`qO3L7mlTROTKCJF33tn07dhGbwjjOr5BhXDgU6m1RXr7z`    
  &limit=`1`    
  &cache=`7200`      
  &screen_name=`iremhouston` 
]]
<!--
<script type="text/javascript" charset="utf-8" src="/twitter/jquery.tweet.js"></script>
				    <script>
  				    jQuery(function($){
        $(".tweet").tweet({
            join_text: "auto",
            username: "iremhouston",
            count: 1,
            loading_text: "loading tweets..."
        });
    });
</script>
-->
</div>
<strong>Next Event</strong>
<div id="next_event">
[[!getResources?
	&parents=`11`
  &includeTVs=`1`
	&processTVs=`1`
	&tpl=`tpl-upcoming-event-listing`
  &sortbyTV=`event_date`
  &sortdirTV=`ASC`
  &sortbyTVType=`datetime`
  &tvFilters=`event_date>=[[!current_date]]`
  &limit=`1`
  &depth=`2`
  &hideContainers=`1`
]]





</div><!-- /#next_event -->