<strong>Name:</strong> [[+name]]<br />
<strong>Company:</strong> [[+company]]<br />
<strong>Email:</strong> [[+email]]<br />
<strong>Phone:</strong> [[+phone]]<br /><br />
[[+serve-type:notempty=`<strong>Time Commitment:</strong> <br />[[+serve-type_values]]`]]<br /><br />
<strong>[[+name]] would like to volunteer in these areas:</strong><br />
[[+education:is=`yes`:then=`Education / Professional Development`]]<br />
[[+iyp:is=`yes`:then=`IREM Young Professionals (IYP)`]]<br />
[[+outreach:is=`yes`:then=`Outreach`]]<br />
[[+programs:is=`yes`:then=`Programs`]]<br />
[[+networking:is=`yes`:then=`Networking`]]<br />
[[+public-policy:is=`yes`:then=`Public Policy`]]<br />
[[+community:is=`yes`:then=`Community Involvement`]]<br />
[[+fashion:is=`yes`:then=`Fashion Show`]]<br />
[[+friends:is=`yes`:then=`Friends`]]<br />
[[+foodfest:is=`yes`:then=`Food Fest`]]<br />
[[+awards:is=`yes`:then=`Awards`]]<br />
[[+special-talent:notempty=`<strong>Special Talents:</strong> <br />[[+special-talent_values]]`]]<br /><br /><br />