[[!+fi.error_message:notempty=`<p>[[!+fi.error_message]]</p>`]]
<form class="form-horizontal" method="post" action="[[~[[*id]]]]">
     				<fieldset>
     					 <input type="hidden" name="nospam:blank" value="" />
     					<div class="control-group">
     						<label class="control-label" for="name">Name:</label>
     						<div class="controls"> 
     							<input type="text" class="input-xlarge" id="name" name="name" value="[[!+fi.name]]" />
     						</div><!-- /.controls -->     							
     					</div><!-- /.control-group -->
     					<div class="control-group">
     						<label class="control-label" for="company">Company:</label>
     						<div class="controls">
     							<input type="text" class="input-xlarge" id="company" name="company" value="[[!+fi.company]]" />
     						</div><!-- /.controls -->     							
     					</div><!-- /.control-group -->
     					<div class="control-group">
     						<label class="control-label" for="email">Email:</label>
     						<div class="controls">
     							<input type="text" class="input-xlarge" id="email" name="email" value="[[!+fi.email]]" />
     						</div><!-- /.controls -->     							
     					</div><!-- /.control-group -->
     					<div class="control-group">
     						<label class="control-label" for="phone">Phone:</label>
     						<div class="controls">
     							<input type="text" class="input-xlarge" id="phone" name="phone" value="[[!+fi.phone]]" />
     						</div><!-- /.controls -->     							
     					</div><!-- /.control-group -->
     					<div class="controls">
     							<input type="checkbox" id="education" class="styled" name="education" value="[[!+fi.education]]" />
     							<span class="label_style">
     							Education
     							</span>
     							<span class="form_text">
     							Volunteers help coordinate and implement courses and seminars of interest to commercial property managers, including new trends and green topics. Team also participates in the success of the Scholarship Program which awards funds to active members for courses.
     							</span>
     					</div><!-- /.controls -->
     					<div class="controls">
     							<input type="checkbox" id="networking" class="styled" name="networking" value="networking" [[!+fi.networking:FormItIsChecked=`networking`]] />
     							<span class="label_style">
     							Networking
     							</span>
     							<span class="form_text">
     							Volunteers develop and implement valuable networking and social outings for the members and potential industry members.
     							</span>
     					</div><!-- /.controls -->
     					<div class="controls">
     							<input type="checkbox" id="public-policy" class="styled" name="public-policy" value="public-policy" [[!+fi.public-policy:FormItIsChecked=`public-policy`]] />
     							<span class="label_style">
     							Public Policy
     							</span>
     							<span class="form_text">
     							As a service to members, volunteers monitors and reports on legislative issues in state, county and city that affect property management.
     							</span>
     					</div><!-- /.controls -->
     					<div class="controls">
     							<input type="checkbox" id="outreach" class="styled" name="outreach" value="outreach" [[!+fi.outreach:FormItIsChecked=`outreach`]] />
     							<span class="label_style">
     							Outreach
     							</span>
     							<span class="form_text">
     							Volunteers help develop recruitment programs and events to attract new members and students.Please indicate your specific interest(s): 
     							</span>	
     							<span class="form_text_list">
     							<input type="checkbox" id="recruitment" class="styled" name="recruitment" value="recruitment" [[!+fi.recruitment:FormItIsChecked=`recruitment`]] />Membership Recruitment<br />
     							<input type="checkbox" id="college-outreach" class="styled" name="college-outreach" value="college-outreach" [[!+fi.college-outreach:FormItIsChecked=`college-outreach`]]/>Academic/College Outreach<br />
     							<input type="checkbox" id="young-outreach" class="styled" name="young-outreach" value="young-outreach" [[!+fi.young-outreach:FormItIsChecked=`young-outreach`]] />Young Professional Outreach<br />
     							<input type="checkbox" id="diversity-outreach" class="styled" name="diversity-outreach" value="diversity-outreach" [[!+fi.diversity-outreach:FormItIsChecked=`diversity-outreach`]] />Diversity Outreach<br />
     							</span>				
     					</div><!-- /.controls -->
     					<div class="controls">
     							<input type="checkbox" id="programs" class="styled" name="programs" value="programs" [[!+fi.programs:FormItIsChecked=`programs`]] />
     							<span class="label_style">
     							Programs
     							</span>
     							<span class="form_text">
     							Volunteers design a great year of lunch or breakfast programs and secures timely and interesting speakers.Please indicate your specific interest(s):
								</span>
								<span class="form_text_list">
     							<input type="checkbox" id="leed-energy-event" class="styled" name="leed-energy-event" value="leed-energy-event" [[!+fi.leed-energy-event:FormItIsChecked=`leed-energy-event`]]/>LEED and Energy Star Event<br />
     							<input type="checkbox" id="luncheons" class="styled" name="luncheons" value="luncheons" [[!+fi.luncheons:FormItIsChecked=`luncheons`]] />Monthly Luncheons/Breakfasts<br />
     							</span>
     					</div><!-- /.controls -->
     					<div class="controls">
     							<input type="checkbox" id="multifamily" class="styled" name="multifamily" value="multifamily" [[!+fi.multifamily:FormItIsChecked=`multifamily`]] />
     							<span class="label_style">
     							Multifamily Outreach
     							</span>
     							<span class="form_text">
     							Volunteers provide programs and services for multifamily sectors. Helps promote the ARM designation and assists with promotion of educational opportunities.
     							</span>
     					</div><!-- /.controls -->
     					<div class="controls">
     							<input type="checkbox" id="golf" class="styled" name="golf" value="golf" [[!+fi.programs:FormItIsChecked=`golf`]] />
     							<span class="label_style">
     							Golf Tournament
     							</span>
     							<span class="form_text">
     							Plans, implements and solicits donations for the yearly charity Golf Tournament.
     							</span>
     					</div><!-- /.controls -->
     					<div class="controls">
     							<input type="checkbox" id="community" class="styled" name="community" value="community" [[!+fi.community:FormItIsChecked=`community`]] />
     							<span class="label_style">
     							Community Involvement
     							</span>
     							<span class="form_text">
     							Volunteers work to involve the chapter with various community service projects throughout the year.
     							</span>
     					</div><!-- /.controls -->
     					
     					
     					
     					<br class="clear" />
  						  [[!+formit.recaptcha_html]]
 						  [[!+fi.error.recaptcha]]

    					<div class="controls">
        						<input type="submit" name="submit" value="Submit" class="submit" />
   						 </div>
     				</fieldset>     					
     			</form>