[[$head]]
<body class="page-[[*id]] parent-[[*UltimateParent]]">
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-75937928-10', 'auto');
  ga('send', 'pageview');

</script>
  <div id="container">
    [[$header]]
        <div id="main" class="container_12" role="main">
    		<div class="slideshow home_banner grid_12">
    			[[getImageList?
						&docid=`[[*id]]`		
						&tvname=`MIGX-testimonials`
						&tpl=`tpl-migx-testimonials`
					]]
    		</div><!-- /.home_banner grid_12 -->
    		<div class="home_content grid_8">
    			<h1>[[*longtitle]]</h1>
    			  [[*content]]
    		 </div><!-- /.home_content -->
    		 <div class="home_content home_column home_column_5 grid_4">
	    		 	<hr class="hr_col_4 grid_4 alpha omega" />
    				<h2 class="resources"><a class="resources_link" href="[[~87]]">News & Updates</a></h2>
    			
    				[[!getResources? 
    					&parents=`87`
    					&showHidden=`1`
    					&tpl=`tpl-upcoming-news`
    					&limit=`3`
    					&includeContent=`1`
    				]] 
					
    			</div><!-- /.home_column_4 -->
    		 <hr class="hr_col_4 grid_4" />
    		 <hr class="hr_col_2 grid_2" />
    		 <hr class="hr_col_2 grid_2" />
    		 <hr class="hr_col_4 grid_4" />
    			<div class="home_column home_column_1 grid_4">
    				<h2 class="community"><a href="[[~2]]">Community</a></h2>
    				<p>[[*home_block1_content-top]] <a href="[[~2]]">read more</a></p>
    				[[getResources?
							&parents=`-1`
							&resources=`7`
							&tpl=`tpl-home-photoblock`
							&includeTVs=`1`
							&processTVs=`1`
						]]
					<div class="memeber_benefits grid_4 alpha omega">
						<h3>Member Benefits</h3>
						<p>[[*home_block1_content-bottom]] <a href="[[~4]]">read more</a></p>
    				</div><!-- /.member_benefits -->
    			</div><!-- /.home_column_1 -->
    			<div class="home_column home_column_2 grid_2">
    				<h2 class="education"><a href="[[~12]]">Education</a></h2>
    				<img class="pull-left" src="[[*home_block2_photo]]" width="141" height="125"/>
    					<p>[[*home_block2_content]]</p>
    					<a href="[[~12]]">read more</a>
    			</div><!-- /.home_column_2 -->
    			<div class="home_column home_column_3 grid_2">
    				<h2 class="career"><a href="[[~16]]">Career</a></h2>
    				<img class="pull-left" src="[[*home_block3_photo]]" width="141" height="125" />
    				<p>[[*home_block3_content]]</p>
    				<a href="[[~16]]">Postings</a> | <a href="[[~16]]">Resumes</a>
    			</div><!-- ./home_column_3 -->
    			<div class="home_column home_column_4 grid_4">
    				<h2 class="calendar"><a href="[[~11]]">Calendar</a></h2>
	    			[[$upcoming_events_home]]
    				<!--
<div class="home_resources">
    					<hr class="hr_col_4 grid_4 alpha omega" />
    					<h2 class="resources grid_4 alpha omega"><a class="resources_link" href="[[~19]]">Resources</a></h2>
    				</div><!-- /.home_resources
-->
    			</div><!-- /.home_column_4 -->
    		<div class="grid_12">
    		 	<hr class="hr_col_4 grid_4 alpha" />
    		 	<hr class="hr_col_2 grid_2" />
    		 	<hr class="hr_col_2 grid_2" />
    		 	<hr class="hr_col_4 grid_4 omega" />
    		</div><!-- /.grid_12 -->
    </div><!-- /#main -->
  [[$footer]]
  </div> <!--! /#container -->
	[[$scripts]]
</body>
</html>