[[$head]]
<body class="page-[[*id]] parent-[[UltimateParent]] type-[[*template]]">
  <div id="container">
    [[$header]]
    <div id="main" class="container_12" role="main">
    	<h1 class="title_content course_title">[[*pagetitle]]</h1>
    		<div class="content_banner grid_12">
    			<div	class="content_banner_left grid_4 alpha omega">
    				<div class="content_banner_left_inner">
						[[$iremconnect_banner]]
					</div><!-- /.content_banner_left_inner -->
				</div><!-- /.content_banner_left -->
				<div class="content_banner_right course_description">
					<p><strong>[[*event_date:strtotime:date=`%A, %B %e, %Y`]]</strong></p>
					[[*event_details]]
					[[!If?
						&subject=`[[*event_date]]`
						&operator=`>=`
						&operand=`[[getTime]]`
						&then=`[[!If?
											&subject=`[[*event_closed]]`
											&operator=`=`
											&operand=`Yes`
											&then=`[[$event_info_no_reg]]`
											&else=`
  											[[!If?
    											&subject=`[[*event_register]]`
    											&operator=`=`
    											&operand=`Online`
    											&then=`[[$event_info_reg]]`
    											&else=`[[$event_info_call_reg]]`
    										]]`
										]]`
						&else=`[[$event_info_no_reg]]`
					]]
				</div><!-- ./content_banner_right -->
    		</div><!-- /.content_banner grid_12 -->
    		<div class="content_nav grid_3">
    			<ul class="pull-right">
    				[[Wayfinder?
    					&startId=`11`
    					&level=`1`
    				]]
    			</ul>
    		</div><!-- /.content_nav -->
    		<div class="grid_8 push_1">
    			<div class="breadcrumbs">[[Breadcrumbs]]</div>
    				[[If?
							&subject=`[[*testimonial_quote]]`
							&operator=`notempty`
							&then=`[[$testimonial_chunk]]`
							&else=``
						]]
				<div class="content">
					<h2>description</h2>
						[[*content]]
				</div><!-- /.content -->
    		</div><!-- /.grid_8 -->
    </div><!-- /#main -->
    [[$footer]]
  </div> <!--! /#container -->
	[[$scripts]]
</body>
</html>