[[$head]]
<body class="page-[[*id]]">
  <div id="container">
    [[$header]]
    <div id="main" class="container_12" role="main">
    	<h1 class="title_content">[[*pagetitle]]</h1>
    		<div class="content_banner grid_12">
    			<div	class="content_banner_left grid_4 alpha omega">
    				<div class="content_banner_left_inner">
    					<div class="banner_nav">
    						<ul>
    							[[Wayfinder? &startId=`2` &level=`2` &cacheResults=`1`]]
    						</ul>
    					</div><!-- /.banner_nav -->
						[[$iremconnect_banner]]
					</div><!-- /.content_banner_left_inner -->
				</div><!-- /.content_banner_left -->
				<div class="education_link content_banner_right">
						<strong>[[*longtitle]]</strong><br />
						[[*content:limit=`780`]]
				</div><!-- ./content_banner_right -->
    		</div><!-- /.content_banner grid_12 -->
    		<div class="content image_grid_wrapper grid_8 push_4">
    		<h2>Click <a href="[[*friend_application]]" target="_blank">here</a> for more information and to apply for our waiting list.</h2>

    		<div id="friend_search">
    		  <form>
      		  <div class="grid_4 alpha">
        		  <label class="control-label" for="Search">Search: </label>
              <input type="text" class="search" placeholder="Search" //>
      		  </div><!--/.grid_4-->
      		  <div class="grid_4 alpha">
      		    <label class="control-label" for="Category">Category: </label>
              <select id="category_picker" class="selectpicker">
                <option id="all_categories" value="all">All</option>
              </select>
      		  </div><!--/.grid_4-->
          </form>

          <div class="list">
            [[getImageList?
    					&tvname=`MIGX-friends`
    					&tpl=`tpl-migx-friends-dev`
    				]]
          </div>

        </div><!--/.friend_search-->
      </div><!-- /.content.image_grid -->
    </div><!-- /#main -->
    [[$footer]]
  </div> <!--! /#container -->
	<script defer src="/assets/js/plugins.js"></script>
  <script defer src="/assets/js/script.js"></script>

</body>
</html>