[[$head]]
<body class="page-[[*id]]">
  <div id="container">
    [[$header]]
    <div id="main" class="container_12" role="main">
    	<h1 class="title_content">[[*pagetitle]]</h1>
    		<div class="content_banner grid_12">
    			<div	class="content_banner_left grid_4 alpha omega">
    				<div class="content_banner_left_inner">
    					<div class="banner_nav">
    						<ul>
    							[[Wayfinder? &startId=`2` &level=`2`]]
    						</ul>
    					</div><!-- /.banner_nav -->
						[[$iremconnect_banner]]
					</div><!-- /.content_banner_left_inner -->
				</div><!-- /.content_banner_left -->
				<div class="education_link content_banner_right">
						<strong>[[*longtitle]]</strong><br />
						[[*content:limit=`780`]]
				</div><!-- ./content_banner_right -->
    		</div><!-- /.content_banner grid_12 -->
    		<div class="content image_grid_wrapper grid_8 push_4">
     			[[getImageList?
    					&tvname=`MIGX-photos`
    					&tpl=`tpl-migx-photos`
    				]]
    		</div><!-- /.content.image_grid -->
    </div><!-- /#main -->
    [[$footer]]
  </div> <!--! /#container -->
	[[$scripts]]
</body>
</html>