[[$head]]
<body class="page-[[*id]]">
  <div id="container">
    [[$header]]
    <div id="main" class="container_12" role="main">
    	<h1 class="title_content">[[*pagetitle]] [[getResourceField? &id=`[[*parent]]`]]</h1>
    		<div class="content_banner grid_12">
    			<div	class="content_banner_left grid_4 alpha omega">
    				<div class="content_banner_left_inner">
    					<div class="banner_nav">
    						<ul>
    							[[Wayfinder? &startId=`19` &level=`1` &cacheResults=`1`]]
    						</ul>
    					</div><!-- /.banner_nav -->
						[[$iremconnect_banner]]
					</div><!-- /.content_banner_left_inner -->
				</div><!-- /.content_banner_left -->
				<div class="content_banner_right">
						[[*content:ellipsis=`800`]]
				</div><!-- ./content_banner_right -->
    		</div><!-- /.content_banner grid_12 -->
    		<div class="grid_4">
    			<div class="article_left_nav grid_4 alpha omega">
    				<ul>
    				[[Wayfinder? &startId=`20` &level=`2` &cacheResults=`1`]]
    				</ul>
    			</div>
    		</div>
    		<div class="grid_8">
     			<div class="article_list content grid_8 alpha omega">
     				<ul>
     				[[getResources?
			    		&includeTVs=`1`
			    		&processTVs=`1`
			    		&tpl=`tpl-newsworthy`
			    		&includeContent=`1`
			    		&sortby=`{"createdon":"DESC"}`
		    		]]
    		</ul>
    			</div><!-- /.content -->
    		</div><!-- /.grid_8 -->
    </div><!-- /#main -->
    [[$footer]]
  </div> <!--! /#container -->
	[[$scripts]]
</body>
</html>