[[$head]]
<body class="page-[[*id]]">
  <div id="container">
    [[$header]]
    <div id="main" class="container_12" role="main">
    	<h1 class="title_content">[[*pagetitle]]</h1>
    		<div class="content_banner grid_12">
    			<div	class="content_banner_left grid_4 alpha omega">
    				<div class="content_banner_left_inner">
    					<div class="banner_nav">
    						<ul>
    							[[Wayfinder? &startId=`12` &level=`1` &cacheResults=`1`]]
    						</ul>
    					</div><!-- /.banner_nav -->
						[[$iremconnect_banner]]
					</div><!-- /.content_banner_left_inner -->
				</div><!-- /.content_banner_left -->
				<div class="content_banner_right">
					[[*content]]
				</div><!-- ./content_banner_right -->
    		</div><!-- /.content_banner grid_12 -->
    		<div class="grid_8 push_4">
    			[[getResources?
						&parents=`13`
						&tpl=`tpl-course-listing-wrapper`
				    &sortby=`menuindex`
				    &sortdir=`ASC`
				    &limit=`0`
				    &depth=`1`
				    &where=`[{"template:=": "21"}]`
					]]
					<p>Several forms of scholarship assistance is available for Houston courses,<br />please <a href="[[~14]]" title="Scholarships" target="_blank">click here for more details</a>.</p>
    		</div><!-- /.grid_8 -->
    </div><!-- /#main -->
    [[$footer]]
  </div> <!--! /#container -->
	[[$scripts]]
</body>
</html>