[[$head]]
<body class="page-[[*id]] parent-[[UltimateParent]] type-[[*template]]">
  <div id="container">
    [[$header]]
    <div id="main" class="container_12" role="main">
    	<h1 class="title_content course_title">[[*longtitle]] ([[*pagetitle]])</h1>
    		<div class="content_banner grid_12">
    			<div	class="content_banner_left grid_4 alpha omega">
    				<div class="content_banner_left_inner">
    					<div class="banner_nav">
    						<ul>
    							[[Wayfinder? &startId=`12` &level=`1` &cacheResults=`1`]]
    						</ul>
    					</div><!-- /.banner_nav -->
						[[$iremconnect_banner]]
					</div><!-- /.content_banner_left_inner -->
				</div><!-- /.content_banner_left -->
				<div class="content_banner_right course_description">
					<p><strong>[[*course_description_date]]</strong></p>
					<p><strong>Registration: [[*course_registration_time]] / Course: [[*course_time]]</strong><br />
					[[*course_location]]</p>
					[[!If?
						&subject=`[[*course_reg_end_date]]`
						&operator=`>=`
						&operand=`[[getTime]]`
						&then=`[[$course_info_reg]]`
						&else=`[[$course_info_noreg]]`
					]]
				</div><!-- ./content_banner_right -->
    		</div><!-- /.content_banner grid_12 -->
    		<div class="content_nav courses grid_3">
    			[[getResources?
						&parents=`13`
						&tpl=`tpl-course-sidebar-wrapper`
				    &sortby=`menuindex`
				    &sortdir=`ASC`
				    &limit=`0`
				    &depth=`1`
				    &where=`[{"template:=": "21"}]`
					]]
    		</div><!-- /.content_nav -->
    		<div class="grid_8 push_1">
  				[[If?
						&subject=`[[*testimonial_quote]]`
						&operator=`notempty`
						&then=`[[$testimonial_chunk]]`
						&else=``
					]]
				<div class="content">
					<h2>course description</h2>
						[[*content]]
					<h4>What you’ll learn:</h4>
						[[*content_extra]]
				</div><!-- /.content -->
    		</div><!-- /.grid_8 -->
    </div><!-- /#main -->
    [[$footer]]
  </div> <!--! /#container -->
	[[$scripts]]
</body>
</html>