[[$head]]
<body class="page-[[*id]]">
  <div id="container">
    [[$header]]
    <div id="main" class="container_12" role="main">
    	<h1 class="title_content">[[*pagetitle]]</h1>
    		<div class="content_banner grid_12">
    			<div	class="content_banner_left grid_4 alpha omega">
    				<div class="content_banner_left_inner">
    					<div class="banner_nav">
    						<ul>
    							[[Wayfinder? &startId=`2` &level=`2`]]
    						</ul>
    					</div><!-- /.banner_nav -->
						[[$iremconnect_banner]]
					</div><!-- /.content_banner_left_inner -->
				</div><!-- /.content_banner_left -->
				<div class="education_link content_banner_right">
					[[*content]]
				</div><!-- ./content_banner_right -->
    		</div><!-- /.content_banner grid_12 -->
    		<div class="content grid_7 push_4">
    			[[!FormIt?
					   &hooks=`spam,FormSave,fiProcessArrays,email,redirect`
					   &emailTpl=`volunteer_email`
					   &emailTo=`lbangle@iremhouston.org`
					   &redirectTo=`127`
					   &emailFrom=`volunteer@iremhouston.org`
					   &emailSubject=`IREMHouston Prospective Volunteer`
					   &vTextRequired=`required`
					   &vTextEmailInvalid=`required`
					   &vTextEmailInvalidDomain=`required`
					   &errTpl=`[[+error]]`
					   &validationErrorMessage=`Sorry, there was an issue submitting the form, please resolve the errors below.`
					   &validate=`company:required,
					   name:required,
					   phone:required,
					   email:required`
					]]
					[[!FormItRetriever]]
     			[[$volunteer_form]]
    		</div><!-- /.content -->
    </div><!-- /#main -->
    [[$footer]]
  </div> <!--! /#container -->
	[[$scripts]]
</body>
</html>
