[[$head]]
<body class="page-[[*id]]">
  <div id="container">
    [[$header]]
    <div id="main" class="container_12" role="main">
    	<h1 class="title_content">[[*pagetitle]]</h1>
  		<div class="content_banner grid_12">
  			<div	class="content_banner_left grid_4 alpha omega">
  				<div class="content_banner_left_inner">
  					<div class="banner_nav">
  						<ul>
  							[[Wayfinder? &startId=`19` &level=`1` &cacheResults=`1`]]
  						</ul>
  					</div><!-- /.banner_nav -->
					[[$iremconnect_banner]]
				</div><!-- /.content_banner_left_inner -->
			</div><!-- /.content_banner_left -->
			<div class="content_banner_right newsworthy_banner">
				[[!$upcoming_events]]
			</div><!-- ./content_banner_right -->
  		</div><!-- /.content_banner grid_12 -->
  		<div class="content_nav grid_4 alpha omega">
  			<ul class="pull-right">
  				[[+archives]]
  			</ul>
  		</div>
   		<div class="article_list content grid_8">
   			[[*content]]
  	  </div><!-- /.content -->
    </div><!-- /#main -->
    [[$footer]]
  </div> <!--! /#container -->
	[[$scripts]]
</body>
</html>