[[$head]]
<body class="page-[[*id]]">
  <div id="container">
    [[$header]]
    <div id="main" class="container_12" role="main">
    	<h1 class="title_content">[[*pagetitle]]</h1>
    		<div class="content_banner grid_12">
    			<div	class="content_banner_left grid_4 alpha omega">
    				<div class="content_banner_left_inner">
    					<div class="banner_nav">
    						<ul>
    							[[Wayfinder? &startId=`19` &level=`1` &cacheResults=`1`]]	
    						</ul>
    					</div><!-- /.banner_nav -->
						[[$iremconnect_banner]]
					</div><!-- /.content_banner_left_inner -->
				</div><!-- /.content_banner_left -->
				<div class="education_link content_banner_right">
						<strong>[[*longtitle]]</strong><br />
					[[*content]]
				</div><!-- ./content_banner_right -->
    		</div><!-- /.content_banner grid_12 -->
    		<div class="content grid_8 push_4">
     			<div class="grid_8 alpha omega">
						[[*content_extra]]
    			</div><!-- /.grid_8 -->
    			<div class="topical legislative_links grid_8 alpha omega">
		    		<h2>[[*legislative_title_row_1]]</h2>
						<div class="grid_4 alpha">
						[[*legislative_block1]]
						</div>
						<div class="grid_4 omega">
							[[*legislative_block2]]
						</div>
					</div><!-- /.topical -->
					<div class="headquarters legislative_links grid_8 alpha omega">
		    		<h2>[[*legislative_title_row_2]]</h2>
						<div class="grid_4 alpha">
							[[*legislative_block3]]
						</div>
						<div class="grid_4 omega">
							[[*legislative_block4]]
						</div>
    			</div><!-- /.headquarters -->
    			<div class="city legislative_links grid_8 alpha omega">
		    		<h2>[[*legislative_title_row_3]]</h2>
						<div class="grid_4 alpha">
						[[*legislative_block5]]
						</div>
						<div class="grid_4 omega">
							[[*legislative_block6]]
						</div>
					</div><!-- /.city -->
					<div class="state legislative_links grid_8 alpha omega">
		    		<h2>[[*legislative_title_row_4]]</h2>
						<div class="grid_4 alpha">
							[[*legislative_block7]]
						</div>
						<div class="grid_4 omega">
							[[*legislative_block8]]
						</div>
    			</div><!-- /.state -->
    			<div class="city legislative_links grid_8 alpha omega">
		    		<h2>[[*legislative_title_row_5]]</h2>
						<div class="grid_8 alpha omega">
						[[*legislative_block9]]
						</div>
					</div><!-- /.city -->
    	</div><!-- /.content -->
    </div><!-- /#main -->
    [[$footer]]
  </div> <!--! /#container -->
	[[$scripts]]
</body>
</html>