[[$head]]
<body class="page-[[*id]]">
  <div id="container">
    [[$header]]
    <div id="main" class="container_12" role="main">
    	<h1 class="title_content">[[*pagetitle]]</h1>
    		<div class="content_banner grid_12">
    			<div	class="content_banner_left grid_4 alpha omega">
    				<div class="content_banner_left_inner">
						[[$iremconnect_banner]]
					</div><!-- /.content_banner_left_inner -->
				</div><!-- /.content_banner_left -->
				<div class="education_link content_banner_right">
						<p>[[*content]]</p>
				</div><!-- ./content_banner_right -->
    		</div><!-- /.content_banner grid_12 -->
    		<div class="content image_grid_wrapper grid_8 push_4">
					<div id="executive-council" class="grid_8 alpha omega">
	     			<h2>Executive Council</h2>
	     			<div class="anchor_nav">
	     				<a href="[[~[[*id]]]]#executive-council">Executive Council</a> / <a href="[[~[[*id]]]]#chairpersons">Chairpersons</a> / <a href="[[~[[*id]]]]#staff">IREM Houston Staff</a>
	     			</div><!-- /.anchor_nav -->
	     			[[getImageList?
    					&tvname=`MIGX-team-leadership`
    					&tpl=`tpl-migx-team-leadership`
    				]]
	     		</div><!-- /#executive-council -->
	     		<div id="chairpersons" class="grid_8 alpha omega">
	     			<h2>Chairpersons</h2>
	     			<div class="anchor_nav">
	     				<a href="[[~[[*id]]]]#executive-council">Executive Council</a> / <a href="[[~[[*id]]]]#chairpersons">Chairpersons</a> / <a href="[[~[[*id]]]]#staff">IREM Houston Staff</a>
	     			</div><!-- /.anchor_nav -->
	     			[[getImageList?
    					&tvname=`MIGX-team-chairpersons`
    					&tpl=`tpl-migx-team-chairpersons`
    				]]
	     		</div><!-- /#chairpersons -->
	     		<div id="staff" class="grid_8 alpha omega">
	     			<h2>IREM Houston Staff</h2>
	     			<div class="anchor_nav">
	     				<a href="[[~[[*id]]]]#executive-council">Executive Council</a> / <a href="[[~[[*id]]]]#chairpersons">Chairpersons</a> / <a href="[[~[[*id]]]]#staff">IREM Houston Staff</a>
	     			</div><!-- /.anchor_nav -->
	     				[[getImageList?
    					&tvname=`MIGX-team-staff`
    					&tpl=`tpl-migx-team-staff`
    					]]
	     		</div><!-- /#staff -->
	     		<div class="former_presidents grid_8 alpha omega">
	     			<h3>Former Presidents</h3>			
	     				<div class="grid_4 alpha">
								<ul>
									[[getImageList?
    								&tvname=`MIGX-team-presidentsL`
    								&tpl=`tpl-migx-team-presidentsL`
    								]]
								</ul>
	     				</div><!-- /.grid_4 -->
	     				<div class="grid_4 omega">
								<ul>
									[[getImageList?
    								&tvname=`MIGX-team-presidentsR`
    								&tpl=`tpl-migx-team-presidentsR`
    								]]
								</ul>
							</div><!-- /.grid_4 -->
	     			</div><!-- /.former_presidents -->
    	</div><!-- /.content.image_grid -->
    </div><!-- /#main -->
   [[$footer]]
  </div> <!--! /#container -->
  [[$scripts]]
</body>
</html>
