[[$head]]
<body class="page-[[*id]]">
  <div id="container">
    [[$header]]
    <div id="main" class="container_12" role="main">
    	<h1 class="title">[[*pagetitle]]</h1>
    		<div class="slideshow home_banner grid_12">
					[[getImageList?
						&docid=`11`		
						&tvname=`MIGX-testimonials`
						&tpl=`tpl-migx-testimonials`
					]]
    		</div><!-- /.home_banner grid_12 -->
    		<div class="content_nav grid_4">
    			<ul class="pull-right">
    				[[Wayfinder?
    					&startId=`11`
    					&level=`1`
    					&cacheResults=`1`
    				]]
    			</ul>
    		</div>
 			<ul class="calendar grid_7 push_1">
 			[[If?
 				&subject=`[[getResources?
					&parents=`[[*id]]`
			    &includeTVs=`1`
    			&processTVs=`1`
    			&tpl=`tpl-event-listing`
			    &sortby=`menuindex`
			    &sortdir=`ASC`
			    &limit=`0`
			    &depth=`1`
			   ]]`
			  &operator=`isempty`
			  &then=`<h2>There are not yet any scheduled events this month.</h2>`
			  &else=`[[getResources?
					&parents=`[[*id]]`
			    &includeTVs=`1`
    			&processTVs=`1`
    			&tpl=`tpl-event-listing`
			    &sortby=`menuindex`
			    &sortdir=`ASC`
			    &limit=`0`
			    &depth=`1`
			   ]]` 
 			]]
 			</ul>
    </div><!-- /#main -->
    [[$footer]]
  </div> <!--! /#container -->
	[[$scripts]]
</body>
</html>