[[$head]]
<body class="page-[[*id]]">
  <div id="container">
    [[$header]]
    <div id="main" class="container_12" role="main">
    	<h1 class="title_content">[[*pagetitle]]</h1>
    		<div class="content_banner grid_12">
    			<div	class="content_banner_left grid_4 alpha omega">
    				<div class="content_banner_left_inner">
						[[$iremconnect_banner]]
					</div><!-- /.content_banner_left_inner -->
				</div><!-- /.content_banner_left -->
				<div class="content_banner_right">
					[[*content:limit=`780`]]
				</div><!-- ./content_banner_right -->
  		</div><!-- /.content_banner grid_12 -->
    </div><!-- /#main -->
    [[$footer]]
  </div> <!--! /#container -->
	[[$scripts]]
</body>
</html>