[[$head]]
<body class="page-[[*id]]">
  <div id="container">
    [[$header]]
    <div id="main" class="container_12" role="main">
    	<h1 class="title_content">[[*pagetitle]]</h1>
    		<div class="content_banner grid_12">
    			<div	class="content_banner_left grid_4 alpha omega">
    				<div class="content_banner_left_inner">
    					<div class="banner_nav">
    						<ul>
    							[[Wayfinder? &startId=`2` &level=`2` &cacheResults=`1`]]		
    						</ul>
    					</div><!-- /.banner_nav -->
						[[$iremconnect_banner]]
					</div><!-- /.content_banner_left_inner -->
				</div><!-- /.content_banner_left -->
				<div class="content_banner_right">
					[[*content]]
				</div><!-- ./content_banner_right -->
    		</div><!-- /.content_banner grid_12 -->
    		<div class="community_block community_photos grid_3">
    			<hr class="hr_col_3 grid_3 alpha omega" />
    			<h2><a href="[[~7]]">photos</a></h2>
    			[[getResources? 
						&parents=`-1` 
						&resources=`7` 
						&tpl=`tpl-comm-photoblock` 
						&includeTVs=`1` 
						&processTVs=`1`
					]]
    		</div><!-- /.community_photos -->
    		<div class="community_block community_iyp grid_3">
    			<hr class="hr_col_3 grid_3 alpha omega" />
    			<h2><a href="[[~[[*comm_block2_link]]]]">[[*comm_block2_title]]</a></h2>
    			<p id="iyp">[[*comm_block2_content]]</p>
				<a href="[[~[[*comm_block2_link]]]]">[[*comm_block2_link-text]]</a>
    		</div><!-- /.community_iyp -->
    		<div class="community_block community_friends grid_3">
    			<hr class="hr_col_3 grid_3 alpha omega" />
    			<h2><a href="[[~47]]">Friends of IREM</a></h2>
    			[[!getImageList?
						&docid=`47`	
						&tvname=`MIGX-friends`
						&tpl=`tpl-migx-friends-thumb`
						&limit=`1`
						&randomize=`1`
					]]
    		</div><!-- /.community_friends -->
    		<div class="community_block community_voluteers grid_3">
    			<hr class="hr_col_3 grid_3 alpha omega" />
    			<h2><a href="[[~[[*comm_block4_link]]]]">[[*comm_block4_title]]</a></h2>
    			<p>[[*comm_block4_content]]</p>
				<a href="[[~[[*comm_block4_link]]]]">[[*comm_block4_link-text]]</a>
    		</div><!-- /.community_voluteers -->
    		<div class="grid_12">
    			<hr class="hr_col_3 grid_3 alpha" />
    			<hr class="hr_col_3 grid_3" />
    			<hr class="hr_col_3 grid_3" />
    			<hr class="hr_col_3 grid_3 omega" />
    		</div><!-- /.grid_12 -->

    </div><!-- /#main -->
    [[$footer]]
  </div> <!--! /#container -->
	[[$scripts]]
</body>
</html>