[[$head]]
<body class="page-[[*id]]">
  <div id="container">
    [[$header]]
    <div id="main" class="container_12" role="main">
    	<h1 class="title">[[*pagetitle]]</h1>
    		<div class="slideshow home_banner grid_12">
    			[[getImageList?
						&docid=`[[*id]]`		
						&tvname=`MIGX-testimonials`
						&tpl=`tpl-migx-testimonials`
					]]
    		</div><!-- /.home_banner grid_12 -->
    		<div class="content_nav grid_4">
    			<ul class="pull-right">
    				<li class="active"><a id="job_link" href="[[~[[*id]]]]#job_posts">Job Postings</a></li>
    				<li><a id="resume_link" href="[[~[[*id]]]]#resumes">Resumes</a></li>
    			</ul>
    		</div><!-- /.content_nav -->
 			<ul id="job_posts" class="calendar grid_7 push_1">
 				[[getResources?
    			&parents=`17`
    			&tpl=`tpl-job-posting`
			    &sortby=`menuindex`
			    &sortdir=`ASC`
			    &limit=`0`
		    ]]
 			</ul>
 			<ul id="resumes" class="calendar grid_7 push_1">
 				[[getResources?
    			&parents=`18`
    			&tpl=`tpl-resume-posting`
			    &sortby=`menuindex`
			    &sortdir=`ASC`
			    &limit=`0`
			    ]]
 			</ul>
    </div><!-- /#main -->
    [[$footer]]
  </div> <!--! /#container -->
	[[$scripts]]
</body>
</html>