[[$head]]
<body class="page-[[*id]]">
  <div id="container">
    [[$header]]
    <div id="main" class="container_12" role="main">
    	<h1 class="title">[[*pagetitle]]</h1>
    		<div class="slideshow home_banner grid_12">
    			[[getImageList?
						&docid=`[[*id]]`
						&tvname=`MIGX-testimonials`
						&tpl=`tpl-migx-testimonials`
					]]
    		</div><!-- /.home_banner grid_12 -->
    		<div class="content_nav contact_sidebar grid_4">
    			<div class="location pull-right">
    				[[*contact_address]]
    			</div><!-- /.location -->
    			<div class="connect_wrapper contact_connect grid_4 omega">
    			  <div class="social_media_icons">
    			    [[*contact_facebook_url:is=``:then=``:else=`
    			    <div class="facebook">
  				 			<a class="facebook_link no_text" href="[[*contact_facebook_url]]" target="_new">Facebook</a>
  				 		</div><!-- /.facebook -->
    			    `]]
    			    [[*contact_twitter_url:is=``:then=``:else=`
    			    <div class="twitter">
  				 			<a class="twitter_link no_text" href="[[*contact_twitter_url]]" target="_new">Twitter</a>
  				 		</div><!-- /.twitter -->
    			    `]]
    			    [[*contact_linkedin_url:is=``:then=``:else=`
    			    <div class="linkedin">
  				 			<a class="linkedin_link no_text" href="[[*contact_linkedin_url]]" target="_new">LinkedIn</a>
  				 		</div><!-- /.linkedin -->
    			    `]]
    			    [[*contact_youtube_url:is=``:then=``:else=`
    			    <div class="youtube">
  				 			<a class="youtube_link no_text" href="[[*contact_youtube_url]]" target="_new">Youtube</a>
  				 		</div><!-- /.youtube -->
    			    `]]
    			    [[*contact_instagram_url:is=``:then=``:else=`
    			    <div class="instagram">
  				 			<a class="instagram_link no_text" href="[[*contact_instagram_url]]" target="_new">Instagram</a>
  				 		</div><!-- /.instagram -->
    			    `]]
  				 	</div><!--/.social_media_icons-->
				 	</div><!-- /.connect_wrapper -->
				 	<div class="email_us pull-right">
    				<script type="text/javascript">
  					//<![CDATA[

  					function hiveware_enkoder(){var i,j,x,y,x=
  					"x=\"783d22603b6a417c3426417c5c5c5c5c5c225c5c3d783a5c223d78693a3937363b3736" +
  					"673a6a393b3a383a363a265c5c693a3d36383a353b693a683a393a393a683a393a363b343b" +
  					"3b36673b3a656b72376a783d5c2237363735363c3a6a363936673a3837373b3d3b3637343b" +
  					"3c37663a34373d363536363a6736693a7d3f3a392660662f3a682b293a392b2c3a36416d3a" +
  					"682c763a36736a36673f2b39682b41376e3f2669703a38327c3b67406d3a3d3f343a356d3f" +
  					"3a656c784576656c67327c2c70657a6941793b39412f3a677d213a672d363a3d412f3a686d" +
  					"3f34416d2c69743b3d65673a347769383672323a3c7c2d38412f6d3f6c786b726970327c40" +
  					"3a6a306d3a382c763b3778773b3966793b6a7770327c406d3f36416d7d233a693f2d36692d" +
  					"362c78327c412f7d212d38412f6d3f6c786b72697d3f2d352c767877667977327c417c3f2d" +
  					"2d345c5c5c5c5c225c5c3f2d6e2c7678776676736a3f2b2b412978286570616373656e753d" +
  					"783b27273d793b2d36306d2c767877667977327c412f7d21663b2e783d6a7b292b2b693b68" +
  					"74672c76736a233f2866693b342d296928744165646f43726168637d417d233f2d36306d2c" +
  					"767877667977333c6a2b793b34393d2b6a29325c225c5c3b793d27797732646f4372616843" +
  					"6d6f72662e676e697274533d656c2e783c693b303d6928726f797d296a286574682e6d696e" +
  					"28782e6c656e6774682c692b6e6774683b692b3d3439297b666f72286a3d4d61793b273b66" +
  					"6f7228693d303b693c782e6c656e297b792b3d782e636861724174286a293b7d7d663b2727" +
  					"3d793b5c223439293b2d2d6a3e3d693b693b6874676e656c2e783c693b303d6928726f696d" +
  					"2e6874614d3d6a28726f667b2934353d2b2d2d3b2934352b692c6874676e656c2e78286e28" +
  					"7441726168632e783d2b797b293b693d3e6a3b797d7d3b296a223b793d27273b666f722869" +
  					"3d303b693c782e6c656e6774683b692b3d3139297b666f72286a3d4d6174682e6d696e2878" +
  					"2e6c656e6774682c692b3139293b2d2d6a3e3d693b297b792b3d782e636861724174286a29" +
  					"3b7d7d793b\";y='';for(i=0;i<x.length;i+=2){y+=unescape('%'+x.substr(i,2));" +
  					"}y";
  					while(x=eval(x));}hiveware_enkoder();

  					//]]>
  					</script>
  				</div>
    		</div><!-- /.content_nav -->
 			<div class="map no_text grid_8">
 				<a title="View on Google Maps" href="[[*contact_google-map]]" target="_new">
 					View on Google Maps
 				</a>
 			</div><!-- /.map -->
    </div><!-- /#main -->
    [[$footer]]
  </div> <!--! /#container -->
	[[$scripts]]
</body>
</html>